{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home-plan",
        text: "Account home",
        active: true
      },
      {
        href: "your-details/your-details",
        text: "Your details"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--amount-owed">
      <p class="govuk-body govuk-!-font-size-27">Ashley Atherton</p>
      <div class="govuk-panel__body">

        <p class="govuk-body govuk-!-font-size-27 govuk-!-margin-top-6 govuk-!-margin-bottom-2">Your repayment plan is</p>
        <p class="govuk-body govuk-!-font-size-48 govuk-!-margin-top-0 govuk-!-margin-bottom-2"><strong>£{{ data['repayment-amount'] }} per month</strong></p>
        <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">Your next payment will be on {{ data['direct-debit-date'] }} {{currentMonth}} {{currentYear}}.</p>

      </div>
    </div>

    <div class="govuk-card__flex-container govuk-grid-row">

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="amounts-owed-plan"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m"><a href="amounts-owed-plan">Check what you owe</a></h3>
              <p class="govuk-body govuk-!-margin-bottom-2">You can see:</p>
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                <li>Who you owe money to</li>
                <li>How much you owe</li>
                <li>Why you owe this amount</li>
              </ul>
            </div>
          </div>
        </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="repayment-history-plan"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="repayment-history-plan">View your repayment history</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">You can see:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>What date you made a repayment</li>
              <li>How the repayment was made</li>
              <li>Who it was repaid to</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="view-repayment-plan"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="view-repayment-plan">Manage your repayment plan</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">You can:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>Change your Direct Debit</li>
              <li>Apply for a payment holiday</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="make-a-repayment-plan"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="start-in-full-plan">Repay the full amount</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">You can:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>Repay the full amount</li>
              <li>Make an extra payment</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="make-a-repayment-plan"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="additional-payments/start">Make an extra payment</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">You can:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>Repay the full amount</li>
              <li>Make an extra payment</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="contact-us-plan"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="contact-us-plan">Contact us</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">Contact us if:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>you have questions about the amount you owe</li>
              <li>you cannot afford to pay</li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
{% endblock %}
