{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
    {
      href: "account-home",
      text: "Account home"
    },
    {
      href: "your-details/your-details",
      text: "Your details"
    },
    {
      href: "#",
      text: "Sign out"
    }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "account-home"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="ask-a-question-confirmed" class="form" method="post">
        <h1 class="govuk-heading-xl">Ask a question</h1>

        {% from "select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "select",
          name: "select",
          label: {
            text: "Select a reason for contacting us"
          },
          items: [
            {
              value: "help",
              text: "I need help using this service"
            },
            {
              value: "query",
              text: "I have a query about what I owe",
              selected: true
            },
            {
              value: "full",
              text: "I want help making a payment in full"
            },
            {
              value: "plan",
              text: "I want help setting up a repayment plan"
            }
          ]
        }) }}

        {% from "textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "What would you like to ask?"
          },
          hint: {
            text: "Do not include personal or financial information, like your National Insurance number or credit card details."
          }
        }) }}

        {{ govukButton({
        text: "Send"
      }) }}

    </div>
</div>
{% endblock %}
