<!-- <h2 class="govuk-heading-m">Repayments</h2>

<p>To arrange a repayment plan or repay the full amount by telephone, contact:</p>

<p>DWP Debt Management<br/>
  Telephone: 0800 916 0614<br/>
  Textphone: 0345 604 6697<br/>
  Monday to Friday 8am to 7.30pm<br/>
  Saturday 9am to 4pm
</p>

<p>You can also
  <a href="pay-amount-owed">repay the full amount online.</a>
</p>

<h2 class="govuk-heading-m">Information</h2>

<p>If you have any questions about how much you owe and why, contact:</p>

<p>Any Town Universal Credit Service Centre<br/>
  Telephone: 0800 328 5644<br/>
  Textphone: 0800 328 1344<br/>
  Monday to Friday 8am to 6pm (closed on bank holidays)
</p> -->


<!--  -->

<h2 class="govuk-heading-m">Other ways to repay what you owe</h2>

<h3 class="govuk-heading-s">Bank transfer</h3>

<p>Call your bank or sign into your bank account. Use these details to repay the full amount:</p>

<p>Sort code: 40 34 18<br />
Account number: 51826107</p>
<p>Use your National Insurance number as the reference, for example<br /> QQ 12 34 56 C</p>

<h3 class="govuk-heading-s">Telephone</h3>

<p>Call Debt Management to repay the full amount or arrange a repayment plan.</p>

<p>Telephone: 0800 916 0614<br />
Textphone: 0345 604 6697<br />
Monday to Friday 8am to 7.30pm<br />
Saturday 9am to 4pm</p>

<p>You can also call us if you cannot afford to repay.</p>

<!--  -->

<h2 class="govuk-heading-m">Other ways to check what you owe</h2>

<p>If you have questions about why you owe this amount, contact:</p>

<p>Universal Credit<br />
Telephone: 0800 328 5644<br />
Textphone: 0800 328 1344<br />
Monday to Friday 8am to 6pm (closed on bank holidays)</p>
