{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Check what you owe",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home-v5",
        text: "Account home"
      },
      {
        href: "your-details",
        text: "Your details"
      },
      {
        href: "#0",
        text: "Sign out"
      }
    ]
  }) }}
  {# {% include "includes/navigation.html" %} #}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Amounts owed</h1>
        {# <p class="govuk-!-font-size-27 govuk-!-font-weight-bold">Amount to repay: £1,420</p> #}

        {# {{ govukButton({
          text: 'Repay the full amount',
          href: 'pay-amount-owed',
          classes: ''
        }) }} #}

        {% from "table/macro.njk" import govukTable %}

{{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "What you owe"
    },
    {
      text: "Amount you owe",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        html: "<a href='debt-details'>Universal Credit new claim advance</a>"
      },
      {
        text: "£160",
        format: "numeric"
      }
    ],
    [
      {
        html: "<a href='#0'>Universal Credit new claim advance</a>"
      },
      {
        text: "£360",
        format: "numeric"
      }
    ],
    [
      {
        html: "<a href='#0'>Universal Credit hardship payment</a>"
      },
      {
        text: "£300",
        format: "numeric"
      }
    ],
    [
      {
        html: "<a href='#0'>Universal Credit hardship payment</a>"
      },
      {
        text: "£300",
        format: "numeric"
      }
    ],
    [
      {
        html: "<a href='#0'>Universal Credit hardship payment</a>"
      },
      {
        text: "£300",
        format: "numeric"
      }
    ],
    [
      {
        html: "<a href='#0'>Housing benefit overpayment</a>"
      },
      {
        text: "£500",
        format: "numeric"
      }
    ],
    [
      {
        html: "<a href='#0'>Tax credit overpayment</a>"
      },
      {
        text: "£400",
        format: "numeric"
      }
    ]
  ]
}) }}

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold" style="text-align:right;">Amount to repay: £2,320</p>

      <div style="float:right;">
        {{ govukButton({
          text: 'Repay the full amount',
          href: 'pay-amount-owed',
          classes: ''
        }) }}
      </div>

    </div>
</div>

{% endblock %}
