{% extends "layout.html" %}
{% set navActive = "owed" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "account-home-v5"
  }) }}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Check what you owe",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home-v5",
        text: "Account home"
      },
      {
        href: "your-details",
        text: "Your details"
      },
      {
        href: "#0",
        text: "Sign out"
      }
    ]
  }) }}
  {# {% include "includes/navigation.html" %} #}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Amounts owed</h1>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Universal Credit new claim advance</h3>
        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Date you recieved the advance
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              03 Dec 17
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £480
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £320
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £160
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Universal Credit new claim advance</h3>
        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Date you recieved the advance
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              24 Jun 18
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £360
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £360
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Recoverable Hardship Payment</h3>
        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Month you recieved the hardship payment
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              Jul 18
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £300
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £300
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Recoverable Hardship Payment</h3>
        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Month you recieved the hardship payment
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              Aug 18
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £300
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £300
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Recoverable Hardship Payment</h3>
        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Month you recieved the hardship payment
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              Sep 18
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £300
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £300
            </dd>
          </div>
        </dl>
      </div>

      {{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "What you owe"
    },
    {
      text: "Amount you owe",
      format: "numeric"
    }
  ],
  rows: [

    [
      {
        text: "03 Nov 18"
      },
      {
        html: "<a href='housing-benefit-overpayment'>Housing benefit overpayment</a>"
      },
      {
        text: "£500",
        format: "numeric"
      }
    ],
    [
      {
        text: "Financial year 2017-18"
      },
      {
        html: "<a href='tax-credit-overpayment'>Tax credit overpayment</a>"
      },
      {
        text: "£400",
        format: "numeric"
      }
    ]
  ]
}) }}

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold" style="text-align:right;">Total amount: £2,320</p>

      <div style="float:right;">
        {{ govukButton({
          text: 'Repay the full amount',
          href: 'repayments',
          classes: ''
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
