{% extends "layout.html" %}
{% set navActive = "owed" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "account-home-v5"
  }) }}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Check what you owe",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home-v5",
        text: "Account home"
      },
      {
        href: "your-details",
        text: "Your details"
      },
      {
        href: "#0",
        text: "Sign out"
      }
    ]
  }) }}
  {# {% include "includes/navigation.html" %} #}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Amounts owed</h1>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Universal Credit new claim advance</h3>

        {{ govukDetails({
          summaryText: "Why you owe this money",
          text: "When you claimed Universal Credit, we gave you an advance so that you had some money to live on while you waited for your first payment. When you took this advance, we told you that you would have to pay it back. You cannot appeal this decision."
        }) }}

        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Date you recieved the advance
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              03 Dec 17
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £480
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £320
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom govuk-!-font-weight-bold'>
              £160
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Universal Credit new claim advance</h3>

        {{ govukDetails({
          summaryText: "Why you owe this money",
          text: "When you claimed Universal Credit, we gave you an advance so that you had some money to live on while you waited for your first payment. When you took this advance, we told you that you would have to pay it back. You cannot appeal this decision."
        }) }}

        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Date you recieved the advance
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              24 Jun 18
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £360
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom govuk-!-font-weight-bold'>
              £360
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Recoverable Hardship Payment</h3>

        {{ govukDetails({
          summaryText: "Why you owe this money",
          text: "When your Universal Credit was sanctioned you applied for a Recoverable Hardship Payment so that you had money to live on. When you took this payment, we told you that you would have to pay it back."
        }) }}

        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Month you recieved the hardship payment
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              Jul 18
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £300
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom govuk-!-font-weight-bold'>
              £300
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Recoverable Hardship Payment</h3>

        {{ govukDetails({
          summaryText: "Why you owe this money",
          text: "When your Universal Credit was sanctioned you applied for a Recoverable Hardship Payment so that you had money to live on. When you took this payment, we told you that you would have to pay it back."
        }) }}

        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Month you recieved the hardship payment
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              Aug 18
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £300
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom govuk-!-font-weight-bold'>
              £300
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Recoverable Hardship Payment</h3>

        {{ govukDetails({
          summaryText: "Why you owe this money",
          text: "When your Universal Credit was sanctioned you applied for a Recoverable Hardship Payment so that you had money to live on. When you took this payment, we told you that you would have to pay it back."
        }) }}

        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Month you recieved the hardship payment
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              Sep 18
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £300
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom govuk-!-font-weight-bold'>
              £300
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Housing Benefit overpayment</h3>

        {{ govukDetails({
          summaryText: "Why you owe this money",
          text: "When you were paid Housing Benefit from your local council, you were given more than you should have. You now need to pay back the overpayment.If you want to ask a question about Housing Benefit, contact Bury council."
        }) }}

        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Date the overpayment was referred
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              03 Nov 18
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Local authority
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              Bury Council
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £500
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom govuk-!-font-weight-bold'>
              £500
            </dd>
          </div>
        </dl>
      </div>

      <div class="app-panel app-panel--border">
        <h3 class="govuk-heading-m">Tax Credit overpayment</h3>

        {{ govukDetails({
          summaryText: "Why you owe this money",
          text: "When you were paid Tax Credits you were given more than you should have in a tax year. You now need to pay back the overpayment. HMRC carries out these checks at the end of every tax year. If you want to ask a question about Tax Credits, contact HMRC."
        }) }}

        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Tax year the overpayment occurred
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              2017-2018
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              Amount
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £400
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom govuk-!-font-weight-regular'>
              You've repaid
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom'>
              £0
            </dd>
          </div>

          <div class='app-check-your-answers__contents app-check-your-answers--no-border-bottom'>
            <dt class='app-check-your-answers__question app-check-your-answers--no-border-bottom'>
              Amount you have to repay
            </dt>
            <dd class='app-check-your-answers__answer app-check-your-answers--no-border-bottom govuk-!-font-weight-bold'>
              £400
            </dd>
          </div>
        </dl>
      </div>

      <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">Total amount: £2,320</p>

      {{ govukButton({
        text: 'Repay the full amount',
        href: 'repayments',
        classes: ''
      }) }}

    </div>
  </div>

{% endblock %}
