{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "amounts-owed"
  }) }}
{% endblock %}

{% set navActive = "owed" %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Recoverable Hardship Payment
      </h1>
    </div>


    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Why you owe this money</h2>
      <p>When your Universal Credit was sanctioned you applied for a Recoverable Hardship Payment so that you had money to live on. When you took this payment, we told you that you would have to pay it back.</p>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class='govuk-heading-m'>
        Details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class='app-check-your-answers app-check-your-answers--long'>
        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question app-check-your-answers__question--long'>
            Month you recieved the hardship payment
          </dt>
          <dd class='app-check-your-answers__answer'>
            Jul 18
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question app-check-your-answers__question--long'>
            Amount
          </dt>
          <dd class='app-check-your-answers__answer'>
            £300
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question app-check-your-answers__question--long'>
            You've repaid
          </dt>
          <dd class='app-check-your-answers__answer'>
            £0
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question app-check-your-answers__question--long'>
            Amount you have to repay
          </dt>
          <dd class='app-check-your-answers__answer'>
            £300
          </dd>
        </div>
      </dl>

    </div>
  </div>
{% endblock %}
