{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action='account-home' method='post' class='form' autocomplete='off'>
        <h1 class="govuk-heading-xl">Repay the full amount</h1>
        <h2 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-4">£2,320</h2>
        <p>You’ll need a debit or credit card.</p>

        {{ govukButton({ text: "Pay online", href: "https://www.payments.service.gov.uk/card_details/jp04ia0ka3l277k0erqvnvep26", classes: "govuk-!-margin-bottom-8" }) }}
      </form>

      <h2 class="govuk-heading-m">Other ways to repay the full amount</h2>

      <h3 class="govuk-heading-s">Bank transfer</h3>

      <p>Call your bank or sign into your bank account. Use these detail to repay the full amount by the date shown on the letter we sent you:</p>

      <p>Sort code: 40 34 18<br/>
        Account number: 51826107<br/>
        Reference: QQ 12 34 56 A</p>

      <h3 class="govuk-heading-s">Telephone</h3>

      <p>You’ll need your debit card or credit card and your National Insurance number, QQ 12 34 56 A.</p>

      <p>Telephone: 0800 916 0614<br/>
        Textphone: 0345 604 6697<br/>
        Monday to Friday 8am to 7.30pm<br/>
        Saturday 9am to 4pm</p>

    </div>
  </div>
{% endblock %}
