{% extends "layout.html" %}

{% set navActive = "repayments" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "account-home-v5"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Repayment history
      </h1>

      {# <p class="govuk-!-font-size-27  govuk-!-margin-bottom-1">Total repaid: <b>£160</b></p> #}
      {# <p class="govuk-!-font-size-27 ">Still to repay: <b>£2,320</b></p> #}
      <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">Total repaid: £320</p>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Date"
          },
          {
            text: "Repayment type"
          },
          {
            text: "Amount",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "24 Oct 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "26 Sept 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "29 Aug 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "1 Jul 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "3 Jun 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "2 May 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "1 Apr 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "3 Mar 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ]
        ]
      }) }}



    </div>
  </div>
{% endblock %}
