{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "amounts-owed"
  }) }}
{% endblock %}

{% set navActive = "owed" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Universal Credit new claim advance
      </h1>

      <h2 class="govuk-heading-m">Why you owe this money</h2>
      <p>When you claimed Universal Credit, we gave you an advance so that you had some money to live on while you waited for your first payment. When you took this advance, we told you that you would have to pay it back. You cannot appeal this decision.</p>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class='govuk-heading-m'>
        Details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class='app-check-your-answers app-check-your-answers--long'>
        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Date the advance was made
          </dt>
          <dd class='app-check-your-answers__answer'>
            03 Dec 17
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Amount
          </dt>
          <dd class='app-check-your-answers__answer'>
            £480
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            You've repaid
          </dt>
          <dd class='app-check-your-answers__answer'>
            £320
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Amount you have to repay
          </dt>
          <dd class='app-check-your-answers__answer'>
            £160
          </dd>
        </div>
      </dl>

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-m">Repayment history</h2>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Date"
          },
          {
            text: "Repayment type"
          },
          {
            text: "Amount",
            format: "numeric",
          }
        ],
        rows: [
          [
            {
              text: "24 Oct 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "26 Sept 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "29 Aug 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "1 Jul 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "3 Jun 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "2 May 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "1 Apr 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "3 Mar 2018"
            },
            {
              text: "Deduction from benefit"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ]
        ]
      }) }}

    </div>
  </div>
{% endblock %}
