{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the sign in page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "start" }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action='' method='post' class='form' autocomplete='off'>
        <h1 class="govuk-heading-l">
          Enter your National Insurance number and access code
        </h1>
        <h2 class="govuk-heading-s">National Insurance number
          <p class="govuk-hint">It’s on the letter we sent you about your balance, your National Insurance card, payslip or P60. For example, ‘QQ 12 34 56 C’.</p>
        </h2>
        {{ govukInput({ label: { text: '', isPageHeading: false }, hint: { text: '' }, id: 'nino', name: 'nino', classes: 'govuk-input--width-20' }) }}
        <h2 class="govuk-heading-s">Access code
          <p class="govuk-hint">It's on the letter we sent you about your balance. For example, '1234 5668'.</p>
        </h2>
        {{ govukInput({ label: { text: '', isPageHeading: false }, hint: { text: '' }, id: 'password', name: 'password', classes: 'govuk-input--width-20' }) }}
        {{ govukButton({ text: "Submit", href: "https://products.payments.service.gov.uk/pay/21b2c65157054d89b3582922c93aa435", classes: "govuk-!-margin-bottom-8" }) }}
      </form>
      <!-- <ul class="govuk-list"> <li><a href="#0">Help with signing in</a></li> <li><a href="#0">I have forgotten my password</a></li> <li><a href="#0">I have forgotten my username</a></li> <li><a href="#0">I have forgotten my username and
      password</a></li> </ul> -->
    </div>
  </div>
{% endblock %}
