{% extends "layout.html" %}

{% set navActive = "home" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Ashley Atherton</h1>

      <hr class="govuk-section-break govuk-section-break--l">

      <div class="app--container">
        <p class="govuk-body govuk-!-font-size-27 govuk-!-margin-bottom-2">You still owe</p>
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-5">£26</h2>

        {# <h4 class="govuk-heading-s">What you owe</h4> #}

        <table class="govuk-table govuk-!-margin-top-5">
          <thead class="govuk-table__head app-table__head--mobile">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Date</th>
              <th class="govuk-table__header" scope="col">Item</th>
              <th class="govuk-table__header" scope="col">Amount owed</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell app-table__cell--mobile ">
                <span class="app-table__head--span">
                  <b>Date</b>
                </span>13 Oct 2018
              </td>
              <td class="govuk-table__cell app-table__cell--mobile">
                <span class="app-table__head--span">
                  <b>Item</b>
                </span>
                <a href="debt-details">Universal Credit advance</a>
              </td>
              <td class="govuk-table__cell app-table__cell--mobile ">
                <span class="app-table__head--span">
                  <b>Amount owed</b>
                </span>£26
              </td>
            </tr>
          </tbody>
        </table>

        {# <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Date
          </dt>
          <dd class="app-check-your-answers__answer">
            13 Oct 2018
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Item
          </dt>
          <dd class="app-check-your-answers__answer">
            <a href="debt-details">Universal Credit advance</a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Amount owed
          </dt>
          <dd class="app-check-your-answers__answer">
            £26
          </dd>
        </div>
      </dl> #}

        <h4 class="govuk-heading-m govuk-!-margin-top-8">How to repay:</h4>

        {{ govukButton({
            text: "Repay the full amount online",
            href: "https://products.payments.service.gov.uk/pay/21b2c65157054d89b3582922c93aa435",
            classes: ""
        }) }}

        <ul class="govuk-list">
          {# <li class="govuk-!-margin-bottom-4">
            <a class="govuk-link" href="https://products.payments.service.gov.uk/pay/21b2c65157054d89b3582922c93aa435">Repay the full amount</a>
          </li> #}
          <li>
            {{ govukDetails({
              summaryText: "Bank transfer",
              html: "<p>Call your bank or sign into your bank account. Use these details to repay the full amount by the date shown on the letter we sent you:</p>

                        <p>Sort code: 40 34 18<br/>
                          Account number: 51826107<br />
                          Reference: QQ 12 34 56 A</p>",
              classes: "govuk-!-margin-bottom-2"
            }) }}
          </li>
          <li>
            {{ govukDetails({
              summaryText: "Telephone",
              html: "<p>Call Debt Management to repay the full amount or arrange a repayment plan. Do this by the date shown on the letter we sent you.</p>

                        <p>Telephone: 0800 916 0614<br/>
                          Textphone: 0345 604 6697<br/>
                          Monday to Friday 8am to 7.30pm<br/>
                          Saturday 9am to 4pm</p>

                        <p>You can also call us if you cannot afford to repay.</p>",
              classes: "govuk-!-margin-bottom-2"
            }) }}
          </li>
          <li>
            {{ govukDetails({
              summaryText: "Repayment plan",
              html: "<p>Call Debt Management to arrange a repayment plan. Do this by the date shown on the letter we sent you.</p>

                        <p>Telephone: 0800 916 0614<br/>
                          Textphone: 0345 604 6697<br/>
                          Monday to Friday 8am to 7.30pm<br/>
                          Saturday 9am to 4pm</p>"
            }) }}
          </li>
        </ul>

        {# {{ govukButton({
            text: "Repay the full amount online",
            href: "https://products.payments.service.gov.uk/pay/21b2c65157054d89b3582922c93aa435",
            classes: ""
        }) }} #}

        {# <p class="govuk-body"><a href="#0">Other ways to make a repayment</a></p> #}

        {# {{ govukDetails({
          summaryText: "Bank transfer",
          html: "<p>Call your bank or sign into your bank account. Use these details to repay the full amount by the date shown on the letter we sent you:</p>

                    <p>Sort code: 40 34 18<br/>
                      Account number: 51826107</p>
                    <p>Use your National Insurance number as the reference, for example<br/>
                      QQ 12 34 56 A</p>"
        }) }}

        {{ govukDetails({
          summaryText: "Telephone",
          html: "<p>Call Debt Management to repay the full amount or arrange a repayment plan. Do this by the date shown on the letter we sent you.</p>

                    <p>Telephone: 0800 916 0614<br/>
                      Textphone: 0345 604 6697<br/>
                      Monday to Friday 8am to 7.30pm<br/>
                      Saturday 9am to 4pm</p>

                    <p>You can also call us if you cannot afford to repay.</p>"
        }) }} #}

      </div>

      <hr class="govuk-section-break govuk-section-break--l">

      <div class="app--container">
        {# <h2 class="govuk-heading-l govuk-!-margin-bottom-2">You've repaid</h2> #}
        <p class="govuk-body govuk-!-font-size-27 govuk-!-margin-bottom-2">You've repaid</p>
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-2">£20</h2>

        {{ govukTable({
          firstCellIsHeader: false,
          head: [
            {
              text: "Date"
            },
            {
              text: "Type"
            },
            {
              text: "Amount paid"
            }
          ],
          rows: [
            [
              {
                text: "24 Oct 2018"
              },
              {
                text: "Deduction from benefit"
              },
              {
                text: "£5"
              }
            ],
            [
              {
                text: "26 Sept 2018"
              },
              {
                text: "Deduction from benefit"
              },
              {
                text: "£5"
              }
            ],
            [
              {
                text: "29 Aug 2018"
              },
              {
                text: "Deduction from benefit"
              },
              {
                text: "£5"
              }
            ],
            [
              {
                text: "1 Aug 2018"
              },
              {
                text: "Deduction from benefit"
              },
              {
                text: "£5"
              }
            ]
          ]
        }) }}
      </div>

      <hr class="govuk-section-break govuk-section-break--l">

      {# <div class="app--container">
        <h2 class="govuk-heading-l">Make a repayment</h2>

        {{ govukButton({
            text: "Repay the full amount online",
            href: "https://products.payments.service.gov.uk/pay/21b2c65157054d89b3582922c93aa435",
            classes: ""
          }) }}

        {{ govukDetails({
          summaryText: "Bank transfer",
          html: "<p>Call your bank or sign into your bank account. Use these details to repay the full amount by the date shown on the letter we sent you:</p>

                    <p>Sort code: 40 34 18<br/>
                      Account number: 51826107</p>
                    <p>Use your National Insurance number as the reference, for example<br/>
                      QQ 12 34 56 A</p>"
        }) }}

        {{ govukDetails({
          summaryText: "Telephone",
          html: "<p>Call Debt Management to repay the full amount or arrange a repayment plan. Do this by the date shown on the letter we sent you.</p>

                    <p>Telephone: 0800 916 0614<br/>
                      Textphone: 0345 604 6697<br/>
                      Monday to Friday 8am to 7.30pm<br/>
                      Saturday 9am to 4pm</p>

                    <p>You can also call us if you cannot afford to repay.</p>"
        }) }}
      </div> #}

      <hr class="govuk-section-break govuk-section-break--l">

    </div>
  </div>
{% endblock %}
