{% extends "layout.html" %}

{% set navActive = "home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Ashley Atherton</h1>

    <div class="govuk-card__flex-container govuk-grid-row">

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="amounts-owed"></a>
            <div class="govuk-card__content">
              <h3 class="govuk-heading-m"><a href="amounts-owed">You still owe £26</a></h3>
              <p class="govuk-body">Find out why you owe this money.</p>
            </div>
            <!-- <table class="govuk-table">
              <thead class="govuk-table__head app-table__head--mobile">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Item</th>
                  <th class="govuk-table__header" scope="col">Date</th>
                  <th class="govuk-table__header" scope="col">Amount owed</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell app-table__cell--mobile">
                    <span class="app-table__head--span">
                      <b>Item</b>
                    </span>
                    <a href="debt-details">Universal Credit advance</a>
                  </td>
                  <td class="govuk-table__cell app-table__cell--mobile ">
                    <span class="app-table__head--span">
                      <b>Date</b>
                    </span>13 Oct 2018</td>
                  <td class="govuk-table__cell app-table__cell--mobile ">
                    <span class="app-table__head--span">
                      <b>Amount owed</b>
                    </span>£26</td>
                </tr>
              </tbody>
            </table> -->
          </div>
        </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="repayment-history"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="repayment-history">You've repaid £20</a></h3>
            <p>See your repayment history.</p>

            <!-- {{ govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Date"
                },
                {
                  text: "Type"
                },
                {
                  text: "Amount paid"
                }
              ],
              rows: [
                [
                  {
                    text: "24 Oct 2018"
                  },
                  {
                    text: "Deduction from benefit"
                  },
                  {
                    text: "£5"
                  }
                ],
                [
                  {
                    text: "26 Sept 2018"
                  },
                  {
                    text: "Deduction from benefit"
                  },
                  {
                    text: "£5"
                  }
                ],
                [
                  {
                    text: "29 Aug 2018"
                  },
                  {
                    text: "Deduction from benefit"
                  },
                  {
                    text: "£5"
                  }
                ],
                [
                  {
                    text: "1 Aug 2018"
                  },
                  {
                    text: "Deduction from benefit"
                  },
                  {
                    text: "£5"
                  }
                ]
              ]
            }) }} -->

          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="repayments"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="repayments">Make a repayment</a></h3>
            <p class="govuk-body">Repay the full amount, or arrange to make a repayment plan.</p>

            <!-- {{ govukButton({
                text: "Repay the full amount online",
                href: "https://products.payments.service.gov.uk/pay/21b2c65157054d89b3582922c93aa435",
                classes: ""
              }) }}


            {{ govukDetails({
              summaryText: "Bank transfer",
              html: "<p>Call your bank or sign into your bank account. Use these details to repay the full amount by the date shown on the letter we sent you:</p>

                        <p>Sort code: 40 34 18<br/>
                          Account number: 51826107</p>
                        <p>Use your National Insurance number as the reference, for example<br/>
                          QQ 12 34 56 A</p>"
            }) }}

            {{ govukDetails({
              summaryText: "Telephone",
              html: "<p>Call Debt Management to repay the full amount or arrange a repayment plan. Do this by the date shown on the letter we sent you.</p>

                        <p>Telephone: 0800 916 0614<br/>
                          Textphone: 0345 604 6697<br/>
                          Monday to Friday 8am to 7.30pm<br/>
                          Saturday 9am to 4pm</p>

                        <p>You can also call us if you cannot afford to repay.</p>"
            }) }} -->
          </div>

        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="contact-us"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="contact-us">Contact us</a></h3>
            <p class="govuk-body">Contact us if:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>you have questions about why you owe this amount</li>
              <li>you cannot afford to repay</li>
            </ul>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
{% endblock %}
