{% extends "layout.html" %}

{% set navActive = "home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Ashley Atherton</h1>



    <span class="govuk-caption-xl">The amount you owe is:</span>
    <h1 class="govuk-heading-xl">£100</h1>
    <!-- {{ govukButton({
      text: "Pay the full amount",
      href: "https://products.payments.service.gov.uk/pay/21b2c65157054d89b3582922c93aa435",
      classes: "govuk-!-margin-bottom-8" })
    }} -->

    <hr class="govuk-section-break govuk-section-break--l">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">What you owe</h2>

            {{ govukTable({
              firstCellIsHeader: false,
              head: [ { text: "Item" }, { text: "Date" }, { text: "Amount you owe" } ],
              rows: [ [ { html: "<a href='debt-details'>Universal Credit advance</a>" }, { text: "13 Oct 2018" }, { text: "£26" } ] ]
            }) }}

        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Your repayment history</h2>

            {{ govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  text: "Date"
                },
                {
                  text: "Type"
                },
                {
                  text: "Amount paid"
                }
              ],
              rows: [
                [
                  {
                    text: "1 Aug 2018"
                  },
                  {
                    text: "Deduction from benefit"
                  },
                  {
                    text: "£5"
                  }
                ],
                [
                  {
                    text: "29 Aug 2018"
                  },
                  {
                    text: "Deduction from benefit"
                  },
                  {
                    text: "£5"
                  }
                ],
                [
                  {
                    text: "26 Sep 2018"
                  },
                  {
                    text: "Deduction from benefit"
                  },
                  {
                    text: "£5"
                  }
                ],
                [
                  {
                    text: "24 Oct 2018"
                  },
                  {
                    text: "Deduction from benefit"
                  },
                  {
                    text: "£5"
                  }
                ]
              ]
            }) }}
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Ways to repay</h2>

            {{ govukButton({
              text: "Pay the full amount online",
              href: "https://products.payments.service.gov.uk/pay/21b2c65157054d89b3582922c93aa435",
              classes: "govuk-!-margin-top-4"
            }) }}

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


            <h3 class="govuk-heading-s">Bank transfer</h3>

            <p>Call your bank or sign into your bank account. Use these details to repay the full amount by the date shown on the letter we sent you:</p>

            <p>Sort code: 40 34 18<br />
            Account number: 51826107</p>
            <p>Use your National Insurance number as the reference, for example<br /> QQ 12 34 56 A</p>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-heading-s">Telephone</h3>

            <p>Call Debt Management to repay the full amount or arrange a repayment plan. Do this by the date shown on the letter we sent you.</p>

            <p>Telephone: 0800 916 0614<br />
            Textphone: 0345 604 6697<br />
            Monday to Friday 8am to 7.30pm<br />
            Saturday 9am to 4pm</p>

            <p>You can also call us if you cannot afford to repay.</p>

            <!--  -->


        </div>
    </div>

    <!-- <div class="govuk-card__flex-container govuk-grid-row">
      <div class="govuk-card__flex-item govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="amounts-owed"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">
                <a href="amounts-owed">Amounts owed</a>
              </h3>
            <p class="govuk-body">Find out how much you owe.</p>
          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained">
          <a href="repayments"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">Repayments</h3>
          </div>
          <div class="govuk-card__actions">
            <ul class="govuk-list govuk-!-mb-r0">
              <li>
                <a href="pay-amount-owed">Repay the full amount</a>
              </li>
              <li>
                <a href="contact-us">Arrange a repayment plan</a>
              </li>
              <li>
                <a href="repayment-history">See your repayment history</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-third">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="contact-us"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m">
              <a href="contact-us">Contact us</a>
            </h3>
            <p class="govuk-body">Contact us if:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>you want to arrange a repayment plan</li>
              <li>you have questions about why you owe this amount</li>
              <li>you cannot afford to repay</li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>
{% endblock %}
