{% extends "layout.html" %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Report a change in address
  </h1>

  {{ addressLookupVersionFour ({
    href:"confirm-address-change"
  }) }}

  <!-- <div class="notes"> <p> <b>Notes</b> </p> <ul class="govuk-list govuk-list--bullet"> <li> Should we use inline validation to flag an incorrect postcode? What if its a new postcode? (RESOLVED) </li> <li> Should we be using a postcode lookup?
  (RESOLVED) </li> <li> Does this need any verification with DM? or are we happy to accept whatever they supply us with? (RESOLVED) </li> <li> Is the address purely for letter communications if the user needs to be contacted about their debt?
  (RESOLVED) </li> </ul> </div> -->

{% endblock %}
