{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Contact us</h1>

        <h2 class="govuk-heading-m">Repayments</h2>

        <p>Call Debt Management to repay the full amount or arrange a repayment plan.</p>

        <p>Telephone: 0800 916 0614<br />
        Textphone: 0345 604 6697<br />
        Monday to Friday 8am to 7.30pm<br />
        Saturday 9am to 4pm </p>

        <p>You can also call us if you cannot afford to repay.</p>


        <h2 class="govuk-heading-m">Information</h2>

        <p>If you have questions about why you owe this amount, contact:</p>

        <p><b>North Manchester Universal Credit Service Centre</b><br />
        Telephone: 0800 328 5644<br />
        Textphone: 0800 328 1344<br />
        Monday to Friday 8am to 6pm (closed on bank holidays)</p>

    </div>
</div>
{% endblock %}
