{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({ items: [ { text:'Home', href: '#0' }, { text:'Section', href: '#0' }, { text: serviceName } ] }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Pay what you owe</h1>
      <p>Use this service if you owe money to DWP, no longer get benefits from DWP, and want to repay your balance in full.</p>
      <p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a debit or credit card</li>
        <li>your National Insurance number</li>
        <li>the access code on the letter we sent you</li>
      </ul>

      {{ govukButton({ text: 'Start', href: "access", classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" }) }}

      {% include "includes/contact-information.html" %}

      <!-- <h2 class="govuk-heading-m">Other ways to check and repay what you owe</h2>

      <h3 class="govuk-heading-s">Repayments</h3>

      <p>To arrange a repayment plan or repay the full amount by telephone, contact:</p>

      <p>DWP Debt Management<br />
      Telephone: 0800 916 0614<br />
      Textphone: 0345 604 6697<br />
      Monday to Friday 8am to 7.30pm<br />
      Saturday 9am to 4pm </p>

      <h3 class="govuk-heading-s">Information</h3>

      <p>If you have any questions about how much you owe and why, contact:</p>

      <p>Universal Credit<br />
      Telephone: 0800 328 5644<br />
      Textphone: 0800 328 1344<br />
      Monday to Friday 8am to 6pm (closed on bank holidays)</p> -->

    </div>
    {# <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.moneyadviceservice.org.uk/en/tools/debt-advice-locator">
                Get debt advice
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div> #}
  </div>
{% endblock %}
