{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home-v1",
        text: "Account home"
      },
      {
        href: "your-details/your-details",
        text: "Your details"
      },
      {
        href: "#0",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "view-repayment-plan-v1"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Change your payment day</h1>

        <form action="#0" method="post" class="form">

          {{ govukInput({
            label: {
              text: ""
            },
            hint: {
              text: "For example, for the third day of the month write 03"
            },
            classes: "govuk-input--width-10",
            id: "direct-debit-date",
            name: "direct-debit-date"
          }) }}

          <p class="govuk-body">Please note that we are unable to process payments made on the 29th, 30th and 31st days of the month.</p>

          {{ govukButton({
            text: "Update payment day",
            href: "change-payment-day--confirmed"
          }) }}

        </form>

    </div>
</div>
{% endblock %}
