{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "account-home-v2"
  }) }}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home-v1",
        text: "Account home"
      },
      {
        href: "your-details/your-details",
        text: "Your details"
      },
      {
        href: "#0",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your repayment plan</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Starting balance"
            },
            value: {
              text: "£2,320"
            }
          },

          {
            key: {
              text: "Amount repaid"
            },
            value: {
              text: "£300"
            }
          },

          {
            key: {
              text: "Amount left to repay"
            },
            value: {
              text: "£2,020"
            }
          },
          {
            key: {
              text: "Next payment due"
            },
            value: {
              text: "15 February 2019"
            }
          },
          {
            key: {
              text: "Repayment plan amount"
            },
            value: {
              html: "£50"
            }
          },
          {
            key: {
              text: "Payment day"
            },
            value: {
              html: '15th of the month'
            }
          },

          {
            key: {
              text: "Expected final payment"
            },
            value: {
              html: "15 December 2020"
            }
          }
        ]
      }) }}


    </div>
  </div>
{% endblock %}
