{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
    {
      href: "account-home",
      text: "Account home"
    },
    {
      href: "your-details/your-details",
      text: "Your details"
    },
    {
      href: "#",
      text: "Sign out"
    }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "account-home"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Help and support</h1>

        <p class=govuk-body">We aim to help you set up a sustainable way to repay the money you owe to the Department for Work and Pensions. This information is designed to support you if you need help with your debt.</p>

        <h2 class="govuk-heading-m">If you’re struggling to pay</h2>

          <p class="govuk-body">Contact Debt Management immediately if you think you might miss a payment.  You can call us to ask for a payment holiday, change the amount you pay each month or to ask for help and advice.</p>

          <p>Telephone: 0800 916 0614<br />
            Textphone: 0345 604 6697<br />
            Monday to Friday 8am to 7.30pm<br />
            Saturday 9am to 4pm</p>

          <h2 class="govuk-heading-m">If you’d like independent advice</h2>

          <p class=govuk-body">For help and advice on dealing with debt, budgeting and more, contact:
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://www.citizensadvice.org.uk/">Citizens Advice</a></li>
              <li><a href="https://www.citizensadvice.org.uk/">StepChange</a></li>
              <li><a href="https://www.moneyadviceservice.org.uk">Money Advice Service</a></li>
            </ul>
          </p>

          <h2 class="govuk-heading-m">If your circumstances have changed</h2>

          <p class=govuk-body"><a href="contact-us">Call Debt Management</a> if you want to make extra payments to pay off the debt more quickly, or to tell us about changes to your account.</p>

    </div>
</div>
{% endblock %}
