{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
    {
      href: "account-home",
      text: "Account home"
    },
    {
      href: "your-details/your-details",
      text: "Your details"
    },
    {
      href: "#",
      text: "Sign out"
    }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "account-home"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Help and support</h1>

        <p class=govuk-body">We aim to help you set up a sustainable way to repay the money you owe to the Department for Work and Pensions. This information is designed to support you if you need help with your debt.</p>

        <h2 class="govuk-heading-m">If you think we’ve made a mistake</h2>

        <p class="govuk-body">If there are debts here that you don’t recognise or that you think might have been added to your account by mistake, contact Debt Management immediately.</p>

        <p>Telephone: 0800 916 0614<br />
          Textphone: 0345 604 6697<br />
          Monday to Friday 8am to 7.30pm<br />
          Saturday 9am to 4pm</p>

        <p class="govuk-body">The Department for Work and Pensions collects money for a range of different teams and organisations.</p>
        <p class="govuk-body">If you’d like to discuss the details of any specific loan or overpayment, you’ll need to talk to the people who made it. You can find their contact details above or on the <a href="contact-us">contact page</a>.</p>

          <h2 class="govuk-heading-m">If you’re struggling to pay</h2>

          <p class="govuk-body">Contact Debt Management immediately if you think you might miss a payment.  You can call us to ask for a payment holiday, change the amount you pay each month or to ask for help and advice.</p>

          <p>Telephone: 0800 916 0614<br />
            Textphone: 0345 604 6697<br />
            Monday to Friday 8am to 7.30pm<br />
            Saturday 9am to 4pm</p>


          <h2 class="govuk-heading-m">If you’d like independent advice</h2>

          <h3 class="govuk-heading-s"> <a href="https://www.citizensadvice.org.uk/">Citizens Advice</a></h3>
          <p>For help and advice on dealing with debt, budgeting and more, contact <a href="https://www.citizensadvice.org.uk/debt-and-money/">Citizens Advice</a>.</p>
          <p>They are a network of charities who can help you stay on top of your finances.  You can get help over the phone, online, or in person.</p>

          <h3 class="govuk-heading-s"> <a href="https://www.citizensadvice.org.uk/">StepChange</a></h3>
          <p>You can also contact <a href="https://www.stepchange.org/">StepChange</a> for expert advice on debt.  They are a charity who can help you look at your debt and set up a solution.  You can get help by letter, email, phone, or online, and their online chat service is open 24 hours a day.</p>
          <p>They are a network of charities who can help you stay on top of your finances.  You can get help over the phone, online, or in person.</p>

          <p>
            StepChange Debt Charity<br/>
            Wade House<br/>
            Merrion Centre<br/>
            Leeds<br/>
            LS2 8NG
          </p>

          <p>
            Telephone: 0800 138 1111<br/>
            Monday to Friday 8am to 8pm<br/>
            Saturday 8am to 4pm
          </p>

          <h3 class="govuk-heading-s"> <a href="https://www.moneyadviceservice.org.uk">Money Advice Service</a></h3>
          <p>Set up by the government, the <a href="https://www.moneyadviceservice.org.uk">Money Advice Service</a> can help you manage your money.</p> <p>You can use online tools and calculators to manage your finances, or get help by phone or online. </p>

          <p>
            Telephone: 0800 138 7777<br/>
            Textphone: 0800 915 4622<br/>
            Monday to Friday 8am to 6pm (not including public holidays)
          </p>
    </div>
</div>
{% endblock %}
