{% extends "layout.html" %}

{% set navActive = "repayments" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home",
        text: "Account home"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "account-home"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        View your repayment history
      </h1>

      <h2 class="govuk-heading-l">Total amount repaid: £360</h2>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Date"
          },
          {
            text: "Repayment method"
          },
          {
            text: "Amount",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "24 Mar 19"
            },
            {
              html: "Payment received <br /><span class='govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>Deduction from benefit</span>"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "26 Feb 19"
            },
            {
              html: "Payment received <br /><span class='govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>Deduction from benefit</span>"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "29 Jan 19"
            },
            {
              html: "Payment received <br /><span class='govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>Deduction from benefit</span>"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "1 Dec 18"
            },
            {
              html: "Payment received <br /><span class='govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>Deduction from benefit</span>"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "3 Nov 18"
            },
            {
              html: "Payment received <br /><span class='govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>Deduction from benefit</span>"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "2 Oct 18"
            },
            {
              html: "Payment received <br /><span class='govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>Deduction from wages</span>"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "1 Sept 18"
            },
            {
              html: "Payment received <br /><span class='govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>Deduction from wages</span>"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "3 Aug 18"
            },
            {
              html: "Payment received <br /><span class='govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>Deduction from benefit</span>"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ],
          [
            {
              text: "3 Jul 18"
            },
            {
              html: "Payment received <br /><span class='govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1 govuk-!-font-size-16'>Deduction from benefit</span>"
            },
            {
              text: "£40",
              format: "numeric"
            }
          ]

        ]
      }) }}



    </div>
  </div>
{% endblock %}
