{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the sign in page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../account-home"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        How much do you want to pay?
      </h1>

      <form action="#" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

            {# <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-6'>
              <div class='app-check-your-answers__contents'>
                <dt class='app-check-your-answers__question'>
                  Repayment amount:
                </dt>
                <dd class='app-check-your-answers__answer'>
                  £50
                </dd>
              </div>

              <div class='app-check-your-answers__contents'>
                <dt class='app-check-your-answers__question'>
                  Repayment frequency:
                </dt>
                <dd class='app-check-your-answers__answer'>
                  Monthly
                </dd>
              </div>
            </dl> #}

            <p class="govuk-body">Paragraph to give context to the box below.</p>

            <div class="form-group inline govuk-!-width-one-half">
              <span class="c-form-input-denote govuk-body">£</span>
              <input class="form-control c-form-input-denote__input govuk-input" type="text" name="additional-payment">
            </div>

            <button type="submit" class="govuk-button inline app-button--secondary govuk-!-margin-bottom-0">
              Update
            </button>
          </fieldset>
        </div>
      </form>

      <div class="govuk-panel--amount-owed app-panel">
        <p class="govuk-body govuk-!-margin-bottom-0">You will pay back what you owe in:<br />
          <span class="govuk-!-font-size-36 govuk-!-font-weight-bold" id="">September 20</span>
        </p>
      </div>

      {{ govukButton({
        text: "Continue",
        href:"../review-additional-payment",
        classes: ""
      }) }}

    </div>
  </div>
{% endblock %}
