{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#" })
  }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/prototypes/07/views/how-much-do-you-want-to-repay/no-lump-sum/take-home-band-1" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-fieldset__heading">
              How much do you want to repay?
            </h2>
          </legend>

          {{ govukInput({
            label: {
              text: ""
            },
            classes: "govuk-input--width-10 govuk-!-margin-top-6",
            id: "width-10",
            name: "repayment-amount"
          }) }}
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

        <hr class="govuk-section-break govuk-section-break--l">

        <h3 class="govuk-heading-m">Affordability</h3>

        <p class="govuk-body">
          Content here to to confirm affordability
        </p>

      </form>

    </div>
  </div>
{% endblock %}
