{% extends "layout.html" %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Report a change in address
  </h1>

  {{ addressLookup({
  }) }}



  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukInput({
        label: {
          html: 'Postcode'
        },
        classes: "govuk-input--width-10",
        id: "address-line-1",
        name: "address-line-1"
      }) }}

      {{ govukButton({
        text: "Find address",
        href:"#0"
      }) }}

    </div>
  </div> #}

  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukInput({
        label: {
          html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        id: "address-line-1",
        name: "address-line-1"
      }) }}

      {{ govukInput({
        label: {
          html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
        },
        id: "address-line-2",
        name: "address-line-2"
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-town",
        name: "address-town"
      }) }}

      {{ govukInput({
        label: {
          text: "County"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-county",
        name: "address-county"
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "address-postcode"
      }) }}

      {{ govukButton({
        text: "Confirm address change",
        href:"confirm-address-change"
      }) }}
    </div>
  </div> #}

  <!-- <div class="notes"> <p> <b>Notes</b> </p> <ul class="govuk-list govuk-list--bullet"> <li> Should we use inline validation to flag an incorrect postcode? What if its a new postcode? (RESOLVED) </li> <li> Should we be using a postcode lookup?
  (RESOLVED) </li> <li> Does this need any verification with DM? or are we happy to accept whatever they supply us with? (RESOLVED) </li> <li> Is the address purely for letter communications if the user needs to be contacted about their debt?
  (RESOLVED) </li> </ul> </div> -->

{% endblock %}
