{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Report a change in name
      </h1>

      {{ govukSelect({
        id: "sort",
        name: "sort",
        classes: "govuk-!-width-one-quarter",
        label: {
          text: "Title"
        },
        items: [
          {
            value: "updated",
            text: "None",
            selected: true
          },
          {
            value: "Mr.",
            text: "Mr."
          },
          {
            value: "Mrs.",
            text: "Mrs."
          },
          {
            value: "Miss",
            text: "Miss"
          },
          {
            value: "Ms.",
            text: "Ms."
          },
          {
            value: "Dr",
            text: "Dr"
          },
          {
            value: "Rev",
            text: "Rev"
          },
          {
            value: "Sir",
            text: "Sir"
          },
          {
            value: "Dame",
            text: "Dame"
          },
          {
            value: "Lord",
            text: "Lord"
          },
          {
            value: "Lady",
            text: "Lady"
          },
          {
            value: "Professor",
            text: "Professor"
          },
          {
            value: "Major",
            text: "Major"
          },
          {
            value: "Captain",
            text: "Captain"
          },
          {
            value: "Colonel",
            text: "Colonel"
          }
        ]
      }) }}

      <div class="notes">
        <p>
          This dropdown pattern is not
          <a href="https://design-system.service.gov.uk/patterns/names/">recommended with GDS</a>, as users find it difficult to use. Are we able to use free text to define a persons title, or does it have to stick to pre-defined options from the back-end?
        </p>
      </div>

      {{ govukInput({
        label: {
          text: "Title"
        },
        hint: {
          text: "Optional"
        },
        id: "title",
        name: "title",
        classes: "govuk-!-width-one-third",
        value:""
      }) }}

      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name",
        name: "first-name",
        classes: "govuk-!-width-two-thirds",
        value:"Ashley"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name",
        name: "last-name",
        classes: "govuk-!-width-two-thirds",
        value:"Atherton"
      }) }}

      <p class="govuk-body">
        We will treat your personal information carefully. We’ll only use it as allowed under data protection law. To find out more, see the Department for Work and Pensions
        <a href="#0">Personal Information Charter</a>.
      </p>

      {{ govukButton({
        text: "Confirm name change",
        href:"confirm-name-change"
      }) }}

      <!-- <div class="notes"> <p> <b>Notes</b> </p> <ul class="govuk-list govuk-list--bullet"> <li> Do we need to and how do we validate names? (RESOLVED) </li> <li> Does this need any verification with DM? or are we happy to accept whatever they supply
      us with? (RESOLVED) </li> <li> Is the name purely for letter communications if the user needs to be contacted about their debt? (RESOLVED) </li> </ul> </div> -->

    </div>
  </div>

{% endblock %}
