{% extends "layout.html" %}

{% set navActive = "your-details" %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Name change
  </h1>

  {{ govukInput({
  label: {
    text: "First name"
  },
  id: "first-name",
  name: "first-name",
  classes: "govuk-!-width-one-half",
  value:"Joe"
}) }}

  {{ govukInput({
  label: {
    text: "Last name"
  },
  id: "last-name",
  name: "last-name",
  classes: "govuk-!-width-one-half",
  value:"Bloggs"
}) }}

  {{ govukButton({
    text: "Next"
  }) }}

{% endblock %}
