 {% extends "layout.html" %}

 {% set navActive = "your-details" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Your details
  </h1>

  {{ govukTable({

    firstCellIsHeader: false,
    rows: [
      [
        {
          text: "Ashley Atherton"
        },
        {
          html: "<a href='#'>Report a change in name</a>"
        }
      ],
      [
        {
          html: "123 Oldham Road<br />
          Ancoats<br />
          Manchester<br />
          M2 3AA"
        },
        {
          html: "<a href='#'>Report a change in address</a>"
        }
      ]
    ]
  }) }}
{% endblock %}
