{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "account-home"
}) }}
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "https://www.gov.uk/",
  serviceName: "Manage the money you owe to DWP",
  serviceUrl: "#",
  navigation: [
  {
    href: "account-home",
    text: "Account home"
  },
  {
    href: "your-details/your-details",
    text: "Your details"
  },
  {
    href: "#",
    text: "Sign out"
  }
  ]
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Check what you owe</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">Total owed: £760</p>

    {# UC 1  #}
    <div class="app-panel app-panel--border">
      <div class="govuk-!-margin-bottom-0 govuk-!-padding-top-0">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Universal Credit new claim advance</h3>
          </div>

          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-0">£160</h3>
          </div>

          <div class="govuk-grid-column-full">
            <details class="govuk-details app-details__amounts-owed">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  More information
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">We gave you an advance so that you had some money to live on while you waited for your first Universal Credit payment.</p>
                <p class="govuk-body">If you would like to talk to someone about what you owe, <a href="contact-us">get in contact</a>.
                <h2 class='govuk-heading-m'>
                  Details
                </h2>

                <dl class='app-check-your-answers app-check-your-answers--long'>
                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      Date the advance was paid
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      03 Dec 17
                    </dd>
                  </div>

                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      Amount
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      £350
                    </dd>
                  </div>

                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      You've repaid
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      £190
                    </dd>
                  </div>

                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      Amount left to repay
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      £160
                    </dd>
                  </div>
                </dl>
              </div>
            </details>
          </div>

        </div>
      </div>
    </div>

    {# UC 2  #}
    <div class="app-panel app-panel--border">
      <div class="govuk-!-margin-bottom-0 govuk-!-padding-top-0">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Universal Credit overpayment</h3>
          </div>

          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-0">£300</h3>
          </div>

          <div class="govuk-grid-column-full">
            <details class="govuk-details app-details__amounts-owed">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  More information
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">You were given more than you should have been when you were paid Universal Credit. </p>
                <p class="govuk-body">If you would like to talk to someone about what you owe, <a href="contact-us">get in contact</a>.

                <h2 class='govuk-heading-m'>
                  Details
                </h2>

                <dl class='app-check-your-answers app-check-your-answers--long'>
                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      When the overpayment was made
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      2 Nov 17 - 16 Apr 18
                    </dd>
                  </div>

                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      Amount
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      £600
                    </dd>
                  </div>

                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      You've repaid
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      £300
                    </dd>
                  </div>

                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      Amount left to repay
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      £300
                    </dd>
                  </div>
                </dl>
              </div>
            </details>
          </div>

        </div>
      </div>
    </div>

    {# CP #}
    <div class="app-panel app-panel--border">
      <div class="govuk-!-margin-bottom-0 govuk-!-padding-top-0">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Universal Credit civil penalty</h3>
          </div>

          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-0">£50</h3>
          </div>

          <div class="govuk-grid-column-full">
            <details class="govuk-details app-details__amounts-owed">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  More information
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>You did not provide us with accurate, up to date information and were given a civil penalty.</p>
                <p class="govuk-body">If you would like to talk to someone about what you owe, <a href="contact-us">get in contact</a>.

                <h2 class='govuk-heading-m'>
                  Details
                </h2>

                <dl class='app-check-your-answers app-check-your-answers--long'>
                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      When you were notified of the penalty
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      03 Dec 17
                    </dd>
                  </div>

                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      Amount
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      £50
                    </dd>
                  </div>

                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      You've repaid
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      £0
                    </dd>
                  </div>

                  <div class='app-check-your-answers__contents'>
                    <dt class='app-check-your-answers__question'>
                      Amount left to repay
                    </dt>
                    <dd class='app-check-your-answers__answer'>
                      £50
                    </dd>
                  </div>
                </dl>
              </div>
            </details>
          </div>

        </div>
      </div>
    </div>

    {# TCOP #}
    <div class="app-panel app-panel--border">
      <div class="govuk-!-margin-bottom-0 govuk-!-padding-top-0">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Tax credits overpayment</h3>
          </div>

          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-0">£250</h3>
          </div>

          <div class="govuk-grid-column-full">
            <details class="govuk-details app-details__amounts-owed">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  More information
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>You were given more tax credits than you should have had in a tax year. HMRC carries out these checks at the end of every tax year and we have been asked to recover this money.</p>
                <p class="govuk-body">If you would like to talk to someone about what you owe, <a href="contact-us">get in contact</a>.

                  <h2 class='govuk-heading-m'>
                    Details
                  </h2>

                  <dl class='app-check-your-answers app-check-your-answers--long'>
                    <div class='app-check-your-answers__contents'>
                      <dt class='app-check-your-answers__question'>
                        Tax year the overpayment was made
                      </dt>
                      <dd class='app-check-your-answers__answer'>
                        2017-18
                      </dd>
                    </div>

                    <div class='app-check-your-answers__contents'>
                      <dt class='app-check-your-answers__question'>
                        Amount
                      </dt>
                      <dd class='app-check-your-answers__answer'>
                        £250
                      </dd>
                    </div>

                    <div class='app-check-your-answers__contents'>
                      <dt class='app-check-your-answers__question'>
                        You've repaid
                      </dt>
                      <dd class='app-check-your-answers__answer'>
                        £0
                      </dd>
                    </div>

                    <div class='app-check-your-answers__contents'>
                      <dt class='app-check-your-answers__question'>
                        Amount left to repay
                      </dt>
                      <dd class='app-check-your-answers__answer'>
                        £250
                      </dd>
                    </div>
                  </dl>
                </div>
              </details>
            </div>

          </div>
        </div>
      </div>

      <br>
      <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">If you want to discuss any of these payments</p>
      <p>We collect money for a range of different teams and organisations.</p>
      <p>If you’d like to discuss the details of any specific loan or overpayment, you’ll need to talk to the people it came from.  You can find their contact details on the <a class="govuk-link" href="contact-us-plan">contact page</a>.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m">How to repay this money</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="start-in-full">Pay the full amount</a>
        </li>
        <li>
          <a class="govuk-link" href="start">Set up a repayment plan</a>
        </li>
      </ul>
    </div>
  </div>
</div>


  {% endblock %}
