{% extends "layout.html" %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBreadcrumbs({
    items: [ {
      text:'Home',
      href: 'https://www.gov.uk/' }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Manage the money you owe to DWP</h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>get details of benefit overpayments, advances and loans that you have to repay</li>
        <li>pay your balance in full by debit or credit card</li>
        <li>set up and manage a repayment plan by Direct Debit</li>
      </ul>

      <p>You'll need the security code supplied to you by our debt management team.</p>

      {{ govukWarningText({
        classes: '',
        text: 'If you do not arrange to repay what you owe, we may ask your employer to make deductions from your pay or ask a debt collection agency to collect this money for us.',
        iconFallbackText: 'Warning'
      }) }}

      {{ govukButton({
        text: 'Start',
        href: "sign-in",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <h2 class="govuk-heading-l">If you need money advice</h2>

      <p class=govuk-body">For help and advice on dealing with debt, budgeting and more, contact:
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.citizensadvice.org.uk/">Citizens Advice</a></li>
          <li><a href="https://www.citizensadvice.org.uk/">StepChange</a></li>
          <li><a href="https://www.moneyadviceservice.org.uk">Money Advice Service</a></li>
        </ul>
      </p>

    </div>
  </div>
{% endblock %}
