{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home-plan",
        text: "Account home",
        active: true
      },
      {
        href: "your-details-plan/your-details",
        text: "Your details"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--amount-owed">
      <p class="govuk-body govuk-!-font-size-27">{{ data['first-name-personal-details'] }} {{ data['last-name-personal-details'] }}</p>
      <div class="govuk-panel__body">

        <p class="govuk-body govuk-!-font-size-27 govuk-!-margin-top-6 govuk-!-margin-bottom-2">Your repayment plan is</p>
        <p class="govuk-body govuk-!-font-size-48 govuk-!-margin-top-0 govuk-!-margin-bottom-2"><strong>£{{ data['repayment-amount'] }} per month</strong></p>
        <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">Your next payment will be on {{ data['direct-debit-date'] }} {{currentMonth}} {{currentYear}}.</p>

      </div>
    </div>

    <div class="govuk-card__flex-container govuk-grid-row">

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="view-repayment-plan"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="view-repayment-plan">View your repayment plan</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">You can see:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>when your next payment is due</li>
              <li>how much you have left to repay</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="repayment-history-plan"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="repayment-history-plan">View your payment history</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">You can see:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>what date you made a payment</li>
              <li>how the payment was made</li>
              <li>who it was paid to</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="help-and-support-plan"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="help-and-support-plan">Help and support</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">You can:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>get contact details of free, independent sources of advice</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="govuk-card__flex-item govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained govuk-card--selectable">
          <a href="contact-us-plan"></a>
          <div class="govuk-card__content">
            <h3 class="govuk-heading-m"><a href="contact-us-plan">Contact us</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">Contact our debt management team if:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              <li>you have questions about the amount you owe</li>
              <li>you cannot afford to pay</li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
{% endblock %}
