{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/prototypes/09/views/repayment-plan/what-is-your-take-home-pay/no-lump-sum" })
  }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/prototypes/09/views/repayment-plan/repayment-frequency-lump-sum" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-fieldset__heading">
              How often do you want payments to be taken from your bank account?
            </h2>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="monthly" name="payment-frequency" type="radio" value="monthly" {{ checked("payment-frequency", "monthly") }}>
              <label class="govuk-label govuk-radios__label" for="monthly">
                Monthly
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="fortnightly" name="payment-frequency" type="radio" value="fortnightly" {{ checked("payment-frequency", "fortnightly") }}>
              <label class="govuk-label govuk-radios__label" for="fortnightly">
                Fortnightly
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="weekly" name="payment-frequency" type="radio" value="weekly" {{ checked("payment-frequency", "weekly") }}>
              <label class="govuk-label govuk-radios__label" for="weekly">
                Weekly
              </label>
            </div>
          </div>

          </fieldset>
        </div>

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
