{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home",
        text: "Account home"
      },
      {
        href: "your-details/your-details",
        text: "Your details"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "account-home"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Make a repayment</h1>

        <h2 class="govuk-heading-l">Create a repayment plan</h2>

        <p class="govuk-body"><a href="repayment-plan/initial-payment">Create a repayment plan online</a> for the full amount by Direct Debit.</p>

        <p>Before you start you'll need:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>your bank account number and sort code</li>
          <li>to know how much you get paid in one month</li>
        </ul>

        {{ govukInsetText({
          html: "The minimum amount you can repay online each month is £50."
        }) }}

        <h3 class="govuk-heading-m">Other ways to set up a repayment plan</h3>

        <p class="govuk-body">You can get information, make payments, and arrange repayment plans by phone.</p>

        <p>Telephone: 0800 916 0614<br />
        Monday to Friday 8am to 7.30pm<br />
        Saturday 9am to 4pm</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l">Repay the full amount</h2>

        <p><a href="https://products.payments.service.gov.uk/pay/b0f8dce3766d46148419dcfefafb4240">Repay the full amount online</a>. You’ll need a debit or credit card.</p>

        <h2 class="govuk-heading-m">Other ways to repay the full amount</h2>

        <h3 class="govuk-heading-s">Bank transfer</h3>

        <p>Use these details to repay the full amount by the date shown on the letter we sent you:</p>

        <p>Sort code: 40 34 18<br/>
          Account number: 51826107<br/>
          Reference: QQ12 34 56 A</p>

        <h3 class="govuk-heading-s">Telephone</h3>

        <p>Call Debt Management to repay the full amount. Do this by the date shown on the letter we sent you.</p>

        <p>Telephone: 0800 916 0614<br/>
          Textphone: 0345 604 6697<br/>
          Monday to Friday 8am to 7.30pm<br/>
          Saturday 9am to 4pm</p>

    </div>
</div>
{% endblock %}
