.govuk-panel--amount-owed {
    color: govuk-colour("white") !important;
    background: #267CAE;

    .govuk-body,.govuk-body-s {
      color: govuk-colour("white");

      a {
        color: govuk-colour("white");
      }
    }
}

.govuk-panel__title {
  color: govuk-colour("white") !important;
}

.app-panel {
    padding: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);

    @include govuk-media-query($from: desktop) {
      padding: govuk-spacing(6);
      margin-bottom: govuk-spacing(6);
    }
}

.app-panel--border {
  border: 1px solid  $govuk-border-colour;
}

.app-panel--start {
  background-color: #f5f5f5

}



.app-panel__payment-summary {
  border: 10px solid #DEE0E2;
  background-color: #F8F8F8;
  padding: govuk-spacing(3);
  // margin-top: govuk-spacing(6);
}

.app-panel__additional-payment {
  background-color: govuk-colour("grey-3");
  padding: govuk-spacing(5);
}

.app-panel__sticky-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
