.govuk-panel--amount-owed {
    color: govuk-colour("white") !important;
    background: #267CAE;

    .govuk-body {
      color: govuk-colour("white");

      a {
        color: govuk-colour("white");
      }
    }
}

.govuk-panel__title {
  color: govuk-colour("white") !important;
}

.app-panel {
    padding: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);

    @include govuk-media-query($from: desktop) {
      padding: govuk-spacing(6);
      margin-bottom: govuk-spacing(6);
    }
}

.app-panel--border {
  border: 1px solid  $govuk-border-colour;
}
