{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "../view-repayment-plan",
        text: "Account home"
      },
      {
        href: "your-details/your-details",
        text: "Your details"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../view-repayment-plan" })
  }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/prototypes/11/views/amend-plan/change-payment-amount" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-fieldset__heading">
              How much do you get paid?
            </h2>
          </legend>

          <p class="govuk-body">We’d like to make sure you can afford to pay us back regularly. Please tell us how much money you get in your bank account each month for the work you do.</p>

          <p class="govuk-body">Make sure you bear in mind the number of times in one month you get paid, if you are paid weekly or fortnightly.</p>

          <div id="example-question" class="form-group inline">
            <span class="c-form-input-denote govuk-body">£</span>
            <input class="form-control c-form-input-denote__input govuk-input form-control-1-4 govuk-input--width-10" type="text" name="take-home-pay">
          </div>

          </fieldset>
        </div>

        {{ govukButton({
          text: 'Continue',
          classes: ""
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
