{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/prototypes/07/views/repayment-plan-terms-and-conditions"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Set up a direct debit</h1>

      <form action="#" method="post" class="form">

        {% call govukFieldset({
          legend: {
            text: "",
            classes: "",
            isPageHeading: false
          }
        }) %}

        {{ govukInput({
          label: {
            text: "Name on the account"
          },
          id: "width-10",
          name: "name",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Sort code"
          },
          id: "width-10",
          name: "name",
          classes: "govuk-input--width-10"
        }) }}

        {{ govukInput({
          label: {
            text: "Account number"
          },
          id: "width-10",
          name: "name",
          classes: "govuk-input--width-10"
        }) }}

        {% endcall %}

        <div class="govuk-fieldset govuk-!-margin-top-4">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Are you allowed to authorise Direct Debits on this account?
            </h1>
          </legend>

          <div class="govuk-radios govuk-!-margin-bottom-7">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="authorisde-direct-debit-yes" name="authorisde-direct-debit" type="radio" value="authorisde-direct-debit-yes">
              <label class="govuk-label govuk-radios__label" for="authorisde-direct-debit-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="authorisde-direct-debit-no" name="authorisde-direct-debit" type="radio" value="authorisde-direct-debit-no">
              <label class="govuk-label govuk-radios__label" for="authorisde-direct-debit-no">
                No
              </label>
            </div>
          </div>

          {{ govukInput({
            label: {
              text: "Email address"
            },
            hint: {
              text: "We’ll send your Direct Debit details and Mandate reference number to this address"
            },
            classes: "govuk-input--width-10",
            id: "email-address",
            name: "email-address"
          }) }}

        </div>

        {{ govukButton({
          text: "Continue",
          href: "/prototypes/07/views/direct-debit--date.html",
          classes: ""
        }) }}
      </div>

      <div class="govuk-grid-column-one-third">
        {{ appPaymentSummary({
          frequency: "monthly",
          endDate: "End date: 15 Nov 22",
          amount: "50"
        }) }}
      </div>

  </div>

  </form>

{% endblock %}
