{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/prototypes/07/views/direct-debit--date"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your details are correct</h1>


        <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>

          <div class='app-check-your-answers__contents'>
            <dt class='app-check-your-answers__question'>
              Name on the account:
            </dt>
            <dd class='app-check-your-answers__answer'>
              Joe Bloggs
            </dd>
          </div>

          <div class='app-check-your-answers__contents'>
            <dt class='app-check-your-answers__question'>
              Sort code:
            </dt>
            <dd class='app-check-your-answers__answer'>
              40 05 00
            </dd>
          </div>

          <div class='app-check-your-answers__contents'>
            <dt class='app-check-your-answers__question'>
              Account number:
            </dt>
            <dd class='app-check-your-answers__answer'>
              12345678
            </dd>
          </div>

          <div class='app-check-your-answers__contents'>
            <dt class='app-check-your-answers__question'>
              Amount you owe:
            </dt>
            <dd class='app-check-your-answers__answer'>
              £2,320
            </dd>
          </div>

          <div class='app-check-your-answers__contents'>
            <dt class='app-check-your-answers__question'>
              Payment start date:
            </dt>
            <dd class='app-check-your-answers__answer'>
              15th December 2018
            </dd>
          </div>

          <div class='app-check-your-answers__contents'>
            <dt class='app-check-your-answers__question'>
              Payment frequency:
            </dt>
            <dd class='app-check-your-answers__answer'>
              Monthly
            </dd>
          </div>

          <div class='app-check-your-answers__contents'>
            <dt class='app-check-your-answers__question'>
              Payment day:
            </dt>
            <dd class='app-check-your-answers__answer'>
               15th
            </dd>
          </div>

          <div class='app-check-your-answers__contents'>
            <dt class='app-check-your-answers__question'>
              Payment amount:
            </dt>
            <dd class='app-check-your-answers__answer'>
               46 payments of <span>{{ data['repayment-amount--monthly'] }}</span><br />
               1 payment of £20
            </dd>
          </div>

          <div class='app-check-your-answers__contents'>
            <dt class='app-check-your-answers__question'>
              Final payment date:
            </dt>
            <dd class='app-check-your-answers__answer'>
               15th November 2022
            </dd>
          </div>

        </dl>

        {{ govukInsetText({
          html: "<b>‘MRN212836’</b> will appear on your bank statement"
        }) }}

        {{ govukButton({
          text: "Confirm payment",
          href: "/prototypes/07/views/confirmation.html",
          classes: "govuk-!-margin-top-2"
        }) }}

        <p class="govuk-link"><a href="#">Cancel payment</a></p>

        <img src="https://dd-payment-pages.cloudapps.digital/public/images/directdebit.png" class="govuk-!-margin-bottom-2 govuk-!-margin-top-4" alt="">

        <p class="govuk-link">Your payments are protected by the <a href="#">Direct Debit guarantee</a>.</p>

    </div>
{% endblock %}
