{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "initial-payment" })
  }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/prototypes/07/views/what-is-your-take-home-pay/lump-sum" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-fieldset__heading">
              How much would you like to pay today?
            </h2>
          </legend>

          <p class="govuk-body">Your repayment plan amounts will be lower if you pay more today.</p>

          <p class="govuk-body">This payment will be taken from your bank account within 3 - 5 days. Make sure you have enough money to cover this payment.</p>

          {{ govukInput({
            label: {
              text: ""
            },
            classes: "govuk-input--width-10 govuk-!-margin-top-6",
            id: "width-10",
            name: "width-10"
          }) }}

          </fieldset>
        </div>

        {{ govukButton({
          text: 'Continue',
          classes: ""
        }) }}
      </form>

      <p class="govuk-body">
        <a href="#">Get help with this page</a>
      </p>

    </div>
  </div>
{% endblock %}
