{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
    {
      href: "../account-home-plan",
      text: "Account home"
    },
    {
      href: "../your-details-plan/your-details",
      text: "Your details"
    },
    {
      href: "#",
      text: "Sign out"
    }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel ({
        headingLevel: 1,
        titleText: "Your repayment plan has been set up",
        classes: "outcome"
      }) }}

      <hr class="govuk-section-break govuk-section-break--m">

      <dl class='app-check-your-answers app-check-your-answers--long govuk-!-margin-bottom-0'>
        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Amount you owe:
          </dt>
          <dd class='app-check-your-answers__answer'>
            £760
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            First payment:
          </dt>
          <dd class='app-check-your-answers__answer'>
            {{ data['direct-debit-date'] }} {{currentMonth}} {{currentYear}}
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Payment frequency:
          </dt>
          <dd class='app-check-your-answers__answer'>
            <span class="app-title-case">Monthly</span>
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Payment day:
          </dt>
          <dd class='app-check-your-answers__answer'>
             {{ data['direct-debit-date'] }}
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Payment breakdown:
          </dt>
          <dd class='app-check-your-answers__answer'>
             <span id="payment-breakdown"></span> payments of £{{ data['repayment-amount'] }} <br />
             Followed by 1 payment of £20
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Expected final payment date:
          </dt>
          <dd class='app-check-your-answers__answer'>
           {{ data['direct-debit-date'] }} {{currentMonth}} 2022
          </dd>
        </div>

      </dl>
      <hr class="govuk-section-break govuk-section-break--m">

      <p class="govuk-body"><a href="#">Print a PDF</a></p>

      <p class="govuk-body">We've sent you a confirmation email. <a class="govuk-link" href="../account-home-plan">Your account</a> will be updated with your repayment plan details.</p>

      <hr class="govuk-section-break govuk-section-break--m">

      <h2 class="govuk-heading-m">Keeping up with your payments</h2>

      <p class="govuk-body">If you cannot make a payment you must contact us as soon as possible.</p>

      {{ govukWarningText({
        classes: '',
        text: 'If you do not arrange to repay what you owe, we may ask your employer to make deductions from your pay or ask a debt collection agency to collect this money for us.',
        iconFallbackText: 'Warning'
      }) }}

    </div>
  </div>
{% endblock %}
