{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "repayment-amount"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your monthly repayment plan</h1>

      <dl class='app-check-your-answers app-check-your-answers--long'>
        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Amount you owe:
          </dt>
          <dd class='app-check-your-answers__answer'>
            £760
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            First payment:
          </dt>
          <dd class='app-check-your-answers__answer'>
            {{currentMonth}} {{currentYear}}
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Payment frequency:
          </dt>
          <dd class='app-check-your-answers__answer'>
            <span class="app-title-case">Monthly</span>
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Payment breakdown:
          </dt>
          <dd class='app-check-your-answers__answer'>
             <span id="payment-breakdown"></span> payments of £{{ data['repayment-amount'] }} <br />
             Followed by 1 payment of £10
          </dd>
        </div>

        <div class='app-check-your-answers__contents'>
          <dt class='app-check-your-answers__question'>
            Expected final payment date:
          </dt>
          <dd class='app-check-your-answers__answer'>
            {{currentMonth}} 2022
          </dd>
        </div>

      </dl>

      {{ govukInsetText({
        text: "You'll be able to choose your Direct Debit date after entering your bank account details."
      }) }}

      <p class="govuk-body">
        Please note that if more debt is incurred, your repayment plan may change.  We will let you know if this happens.
      </p>

      {{ govukButton({
        text: "Continue with Direct Debit",
        href: "../repayment-plan/direct-debit"
      }) }}

    </div>
  </div>
{% endblock %}
