{% extends "layout.html" %}

{% set navActive = "your-details" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Check and pay what you owe",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home-v5",
        text: "Account home"
      },
      {
        href: "your-details",
        text: "Your details",
        active: true
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
  {# {% include "includes/navigation.html" %} #}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    Your details
  </h1>

    {{ govukTable({

    firstCellIsHeader: false,
    rows: [
      [
      {
        html: "<b>Name</b>"
      },
        {
          text: "Ashley Atherton"
        },
        {
          html: "You've reported a change in name</a>"
        }
      ],
      [
        {
          html: "<b>Address</b>"
        },
        {
          html: "123 Oldham Road<br />
          Ancoats<br />
          Manchester<br />
          M2 3AA"
        },
        {
          html: "<a href='change-address'>Report a change in address</a>"
        }
      ]
    ]
  }) }}
  </div>
</div>
{% endblock %}
