{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "../account-home",
        text: "Account home"
      },
      {
        href: "your-details",
        text: "Your details",
        active: true
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your details</h1>

      <h2 class="govuk-heading-l">Personal details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['first-name-personal-details'] + ' ' + data['last-name-personal-details']
            },
            actions: {
              items: [
                {
                  href: "",
                  text: "",
                  visuallyHiddenText: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: "as*****@***.com"
            },
            actions: {
              items: [
                {
                  href: "change-email",
                  text: "Change",
                  visuallyHiddenText: ""
                }
              ]
            }
          },
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: "079*******45"
            },
            actions: {
              items: [
                {
                  href: "change-phone-number",
                  text: "Change",
                  visuallyHiddenText: ""
                }
              ]
            }
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-l">Communication preferences</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Notifications"
            },
            value: {
              text: "Email and mobile phone"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: ""
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
