{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Contact Universal credit</h1>

        <p class="govuk-body">Use the <a href="#0">Universal Credit online service</a>.</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p>If you have questions about the amount you owe, contact:</p>

        <p><b>Universal Credit</b><br />
        Telephone: 0800 328 5644<br />
        Textphone: 0800 328 1344<br />
        Monday to Friday 8am to 6pm (closed on bank holidays)</p>

        <p class="govuk-body"><a href="../start-combined">Start again</a></p>
    </div>
</div>
{% endblock %}
