{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "off-universal-credit"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/05/access" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h2 class="govuk-fieldset__heading">
              How much would you like to pay?
            </h2>
          </legend>
          {{ govukInput({
            hint: {
              type: "number",
              text: "The minimum partial repayment is £50."
            },
            classes: "govuk-input--width-10",
            id: "national-insurance-number",
            name: "national-insurance-number"
          }) }}
          </fieldset>
        </div>

        {{ govukButton({
  text: 'Start',
  classes: ""
}) }}

      </form>

    </div>
  </div>
{% endblock %}
