{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  <a onclick="goBack()" href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your weekly repayment plan</h1>

      <p class="govuk-body govuk-!-font-weight-bold">You will pay back the money you owe by November 2022.</p>

      <p class="govuk-body">You will make:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>152 payments of <span>£{{ data['repayment-amount--weekly'] }}</span></li>
        <li>1 payment of £20</li>
      </ul>

      <p class="govuk-body">Your first payment will be taken in December 2018.</p>

      {{ govukButton({
        text: "Continue",
        href: "/prototypes/07/views/repayment-plan-terms-and-conditions.html"
      }) }}

      <p class="govuk-body"><a href="#0">Pay it back sooner</a></p>


    </div>
  </div>
{% endblock %}
