{% extends "layout.html" %}
{% block header %}
  <!-- Blank header with no service name for the sign in page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel ({
        headingLevel: 1,
        titleText: "Your initial payment was successful",
        classes: "outcome"
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Initial payment summary</h2>
      <p>Amount: £100
        <br>
        Payment to: DWP Debt Management
        <br>
        Payment for: Initial payment to DWP
        <br>
        Payment reference: TV45FR5KKT
        <br>
        Date of payment: {{todayDate}} </p>

        <p class="govuk-body"><a href="#">Save this as a PDF</a></p>

      <hr class="govuk-section-break govuk-section-break--m">

      {{ govukInsetText({
        text: "You now need to set up your repayment plan."
      }) }}

      {{ govukButton({
        text: "Set up repayment plan",
        href:"repayment-amount"
      }) }}

    </div>
  </div>

{% endblock %}
