{% extends "layout.html" %} {% set navActive = "home" %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
        Ashley Atherton
      </h1>
        <div class="govuk-card__flex-container govuk-grid-row">
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
                <div class="govuk-card govuk-card--contained govuk-card--selectable">
                    <a href="amounts-owed"></a>
                    <div class="govuk-card__content">
                        <h3 class="govuk-heading-m">
                <a href="amounts-owed">Amounts owed</a>
              </h3>
                        <p class="govuk-body">Find out how much you owe.</p>
                    </div>
                </div>
            </div>
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
                <div class="govuk-card govuk-card--contained govuk-card--selectable">
                    <a href="repayments"></a>
                    <div class="govuk-card__content">
                        <h3 class="govuk-heading-m">
                <a href="/repayments">Repayments</a>
              </h3>
                    </div>
                    <div class="govuk-card__actions">
                        <ul class="govuk-list govuk-!-mb-r0">
                            <li>
                                <a href="/repayments">Make a payment</a>
                            </li>
                            <li>
                                <a href="/repayments">Arrange a repayment plan</a>
                            </li>
                            <li>
                                <a href="repayment-history">See your repayment history</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="govuk-card__flex-item govuk-grid-column-one-third">
                <div class="govuk-card govuk-card--contained govuk-card--selectable">
                    <a href="#0"></a>
                    <div class="govuk-card__content">
                        <h3 class="govuk-heading-m">
                <a href="#0">Contact us</a>
              </h3>
                        <p class="govuk-body">Contact us if you do not understand what you owe or why, are worried about being able to afford repayments, or want to make a payment over the phone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}