{% extends "layout.html" %}

{% set navActive = "owed" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Amounts owed
      </h1>

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold">Still to pay: £90</p>

      {{ govukButton({
        text: 'View repayment options',
        href: '#0',
        classes: ''
      }) }}

      {{ govukInsetText({
        html: '<a href="#0">Contact us</a> if you want to discuss the amount you owe.',
        classes: ''
      }) }}

      {{ govukWarningText({
        classes: '',
        text: 'If you do not arrange to repay what you owe, we may contact your employer to make deductions from your pay, or contact a debt recovery service.',
        iconFallbackText: 'Warning'
      }) }}

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Item"
          },
          {
            text: "What you owe"
          }
        ],
        rows: [
          [
            {
              html: "<a href='debt-details'>Universal Credit advance (new claim)</a>"
            },
            {
              text: "£90"
            }
          ]
        ]
      }) }}


    </div>
  </div>
{% endblock %}
