{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the index page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
      text: "Prototype"
      },
      html: "This is a test site – if you’ve arrived at this page by mistake, go to <a href=\"https://www.gov.uk/\" class=\"govuk-link\">GOV.UK</a>"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Manage what you owe to DWP prototype
      </h1>

      <p class="govuk-body">You can view when the latest prototype was updated on <a class="govuk-link" href="https://github.com/dwp/check-what-you-owe/commits/master">Github</a>.</p>

      <div class="govuk-accordion" data-module="accordion" id="accordion-default">

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                01 - View debt & pay debt
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <h4 class="govuk-heading-s">Links</h4>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/01/views/start">Check start</a></p>
                </li>
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/01/views/pay-start">Pay start</a></p>
                </li>
              </ul>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                02 - Help and signposting
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p class="govuk-body"><a href="https://docs.google.com/document/d/12jK4yxUmCZ-taxS07YT7qc4VQyCnjQT-m4zZA7bMNFY/edit?usp=sharing">Content changes</a></p>
            <h4 class="govuk-heading-s">Links</h4>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/02/views/start">Check start</a></p>
                </li>
              </ul>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                03 - Manage account
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <p class="govuk-body"><a href="https://docs.google.com/document/d/1VLpN7doX4IUalpIp_f6fegeqFaCdCgNHCFSppEIQCKU/edit?usp=sharing">Content changes</a></p>
            <p class="govuk-body"><a href="https://docs.google.com/presentation/d/1XYFxiXoAkzHwR5OMLpH9PaJi9OpT0rwV7gz1PgU_0a0/edit?usp=sharing">user research findings (from this prototype) - 23.10.18</a></p>
            <h4 class="govuk-heading-s">Links</h4>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/03/views/start">Check start</a></p>
                </li>
              </ul>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                04 - User research improvements
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <p class="govuk-body">Improvements implemented to the prototype based on usability studies.</p>
            <p class="govuk-body"><a href="https://drive.google.com/uc?export=download&id=1s7TslrSYosobFBSBdEzmHZaqi4CvKo1O">user research findings (from this prototype) - 31.10.18</a></p>
            <h4 class="govuk-heading-s">Links</h4>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/04/views/start">Check start</a></p>
                </li>
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/04/views/account-home-v2">Account home</a> V1</p>
                </li>
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/04/views/account-home-v2">Account home</a> V2</p>
                </li>
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/04/views/account-home-v3">Account home</a> V3</p>
                </li>
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/04/views/account-home-v4">Account home</a> V4 - approved option</p>
                </li>
              </ul>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                05 - Combined start page
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
            {{ govukWarningText({
              text: "Prototype archived and not tested ",
              iconFallbackText: "Warning"
            }) }}
            <p class="govuk-body">One link on the letter points towards a single start page, which filters out users based on the task they are trying to do.</p>
            <p class="govuk-body">This wasn't taken any further, because our user research shows personas who have an affordable debt to pay off, don't want a continuing relationship with the DWP, they just want to pay off their debt. If we did this route, then all users would be required to use a login rather than a one time access code, which could cause drop off for this type of user.</p>
            <h4 class="govuk-heading-s">Links</h4>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/05/views/start-combined">Combined start screen</a></p>
                </li>
              </ul>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
                06 - Display multiple debts
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
            <p class="govuk-body">Includes view amounts owed design options (v1-v4)</p>
            <p class="govuk-body">This version aligns the account home screen with the payment statement design in Universal Credit. It allows users to see how much they owe as a snapshot, without having to go view amounts owed for details.</p>
            <p class="govuk-body"><a href="https://drive.google.com/uc?export=download&id=1QY_z0HgDYyZC4n7IbxYiF2ayWLdOvXZP">user research findings (from this prototype) - 16.11.18</a></p>
            <h4 class="govuk-heading-s">Links</h4>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/06/views/start">Check start</a></p>
                </li>
              </ul>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
                07 - Repayment plan
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
            <p class="govuk-body">Prototype to show how we can allow users to create a repayment plan online with the <b>happy path</b> non negotiable rate.</p>
            <p class="govuk-body"><a href="https://drive.google.com/uc?export=download&id=1-Gs7se2CW2QU9KK81rPbPkHt_3G0tNGW">Content changes</a></p>
            <p class="govuk-body"><a href="https://drive.google.com/uc?export=download&id=1iPIISTHEGDVuayudEkPFKfPSjpWwgwhb">user research findings</a> (from this prototype) - 7/12/18 & 13/12/18</p>
            <h4 class="govuk-heading-s">Links</h4>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/07/views/start">Repayment plan start</a></p>
                </li>
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/07/views/start--check">Check start</a></p>
                </li>
              </ul>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
                08 - Additional payment
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">
            <h4 class="govuk-heading-s">Links</h4>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/08/views/account-home">Account home</a></p>
                </li>
              </ul>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
                09 - Consolidating prototype for user research improvements.
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">
            <p class="govuk-body"><a href="https://docs.google.com/spreadsheets/d/1-gSQKpUwCPUDOilPr-Rxm3DrCWv1tXPUd0Xj4-6uXHM/edit?usp=sharing">Recommendations document</a></p>

            <h4 class="govuk-heading-s">Links</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p class="govuk-body"><a class="govuk-link" href="/prototypes/09/views/account-home">Account home</a></p>
              </li>
              <li>
                <p class="govuk-body"><a class="govuk-link" href="/prototypes/09/views/start-pay-what-you-owe">Pay start</a></p>
              </li>
              <li>
                <p class="govuk-body"><a class="govuk-link" href="/prototypes/09/views/start-check-what-you-owe">Check start</a></p>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                10 - Amending an existing repayment plan
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
            <p class="govuk-body"><a href="https://drive.google.com/uc?export=download&id=17X7W98dsYUOSLZJu7RTufxMXaDmn5mpr">Content changes 04/02/19</a></p>
            <h4 class="govuk-heading-s">Links</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <p class="govuk-body"><a class="govuk-link" href="/prototypes/10/views/start-manage-what-you-owe">Manage what you owe start</a> (testing link)</p>
              </li>
              <li>
                <p class="govuk-body"><a class="govuk-link" href="/prototypes/10/views/account-home-plan-v1">Account home</a> (repayment plan set up)</p>
              </li>
            </ul>
          </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                  11 - Change of circumstances
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
              <p class="govuk-body"><a href="#">Content changes</a></p>
              <h4 class="govuk-heading-s">Links</h4>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/11/views/start-manage-what-you-owe">Manage what you owe start</a></p>
                </li>
                <li>
                  <p class="govuk-body"><a class="govuk-link" href="/prototypes/11/views/account-home-plan">Account home</a> (repayment plan set up)</p>
                </li>
              </ul>
            </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                    12 - Additional benefits
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
                <p class="govuk-body"><a href="#">Content changes</a></p>
                <h4 class="govuk-heading-s">Links</h4>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    <p class="govuk-body"><a class="govuk-link" href="/prototypes/12/views/start-manage-what-you-owe">Manage what you owe start</a></p>
                  </li>
                  <li>
                    <p class="govuk-body"><a class="govuk-link" href="/prototypes/12/views/account-home-plan">Account home</a> (repayment plan set up)</p>
                  </li>
                </ul>
              </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                      13 - Repayment plan improvements
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
                  <h4 class="govuk-heading-s">Links</h4>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <p class="govuk-body"><a class="govuk-link" href="/prototypes/13/views/start-manage-what-you-owe">Manage what you owe start</a></p>
                    </li>
                    <li>
                      <p class="govuk-body"><a class="govuk-link" href="/prototypes/13/views/account-home-plan">Account home</a> (repayment plan set up)</p>
                    </li>
                  </ul>
                </div>
                </div>

                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                        14 - MVP April 2019
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">

                    <h4 class="govuk-heading-s">Links</h4>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        <p class="govuk-body"><a class="govuk-link" href="/prototypes/mvp2/views/start-manage-what-you-owe">Manage what you owe start</a></p>
                      </li>
                      <li>
                        <p class="govuk-body"><a class="govuk-link" href="/prototypes/mvp2/views/account-home-plan">Account home</a> (repayment plan set up)</p>
                      </li>
                    </ul>
                  </div>
                  </div>

                  <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                          15 - On benefit
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
                      <h4 class="govuk-heading-s">Links</h4>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          <p class="govuk-body"><a class="govuk-link" href="/prototypes/15/views/start-manage-what-you-owe">Manage what you owe start</a> (no repayment plan)</p>
                        </li>
                        <li>
                          <p class="govuk-body"><a class="govuk-link" href="/prototypes/15/views/account-home-plan">Account home</a> (repayment plan set up)</p>
                        </li>
                        <li>
                          <p class="govuk-body"><a class="govuk-link" href="/prototypes/15/views/on-benefit/start-manage-what-you-owe">Manage what you owe start</a> (on benefit)</p>
                        </li>
                      </ul>
                    </div>
                    </div>

                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                            16 - Additional help and signposting
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
                        <h4 class="govuk-heading-s">Links</h4>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>
                            <p class="govuk-body"><a class="govuk-link" href="/prototypes/16/views/start-manage-what-you-owe">Manage what you owe start</a> (no repayment plan)</p>
                          </li>
                          <li>
                            <p class="govuk-body"><a class="govuk-link" href="/prototypes/16/views/account-home-plan">Account home</a> (repayment plan set up)</p>
                          </li>
                        </ul>
                      </div>
                      </div>

                      <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                          <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
                              17 - Contact preferences
                            </span>
                          </h2>
                        </div>
                        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">

                          {{ govukWarningText({
                            text: "The repayment plan calculator remains a work in progress. It is not a perfect replication of what we'd expect in the final service",
                            iconFallbackText: "Warning"
                          }) }}

                          <h4 class="govuk-heading-s">Links</h4>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>
                              <p class="govuk-body"><a class="govuk-link" href="/prototypes/17/views/start-manage-what-you-owe">Manage what you owe start</a> (no repayment plan, contact preferences on first sign in)</p>
                            </li>
                            <li>
                              <p class="govuk-body"><a class="govuk-link" href="/prototypes/17/views/account-home-plan">Account home</a> (repayment plan set up)</p>
                            </li>
                            <li>
                              <p class="govuk-body"><a class="govuk-link" href="/prototypes/17/views/account-home-missed-payment">Account home</a> (missed Direct Debit payment)</p>
                            </li>
                          </ul>
                        </div>
                        </div>

        </div>

      </div>
    </div>
  </div>
{% endblock %}
