{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the index page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
      text: "Prototype"
      },
      html: "This is a test site – if you’ve arrived at this page by mistake, go to <a href=\"https://www.gov.uk/\" class=\"govuk-link\">GOV.UK</a>"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
        prototype
      </h1>

      <h2 class="govuk-heading-l">01</h2>
      {{ govukButton({
        text: "View prototype",
        href: "/prototypes/01/views/start"
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">02 - Help and signposting</h2>
      <h3 class="govuk-heading-s"><a href="https://drive.google.com/open?id=1BK9YOytZHcTbrAiDLgVhJUnKN9467RC9">View changes</a></h3>

      {{ govukButton({
        text: "View prototype",
        href: "/prototypes/02/views/start"
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">03 - Manage account</h2>
      <h3 class="govuk-heading-s"><a href="https://docs.google.com/document/d/1BJJwwdu-gx8voSxJJOLOoJuVlDjFaePljZnQalBRPYs/edit?usp=sharing">View changes</a></h3>

      {{ govukButton({
        text: "View prototype",
        href: "/prototypes/03/views/start"
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">04 - User research improvements</h2>
      <p class="govuk-body">Improvements implemented to the prototype based on usability studies.</p>
      <!-- <h3 class="govuk-heading-s"><a href="#0">View changes</a></h3> -->

      {{ govukButton({
        text: "View prototype",
        href: "/prototypes/04/views/start"
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">05 - Combined start page </h2>
      <p class="govuk-body">One link on the letter points towards a single start page, which filters out users based on the task they are trying to do.</p>
      <h3 class="govuk-heading-s"><a href="#0">View changes</a></h3>

      {{ govukButton({
        text: "View prototype",
        href: "/prototypes/05/views/start-combined"
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">06 - Displaying multiple debts </h2>
      <p class="govuk-body">How might we display multiple debt types to a user?</p>
      <!-- <h3 class="govuk-heading-s"><a href="#0">View changes</a></h3> -->

      {{ govukButton({
        text: "View prototype",
        href: "/prototypes/06/views/start"
      }) }}


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">07 - Allowing users to create a repayment plan online </h2>
      <p class="govuk-body">Prototype to show how we can allow users to create a repayment plan online with the <b>happy path</b> non negotiable rate.</p>
      <p class="govuk-body">This allows us to start small and understand users expectations of an online repayment plan tool.</p>

      {{ govukButton({
        text: "View prototype",
        href: "/prototypes/07/views/start"
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">08 - Allowing users to make an additional payment to an existing repayment plan </h2>

      {{ govukButton({
        text: "View prototype",
        href: "/prototypes/08/views/account-home"
      }) }}


    </div>
  </div>
{% endblock %}
