{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the index page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
      text: "Prototype"
      },
      html: "This is a test site – if you’ve arrived at this page by mistake, go to <a href=\"https://www.gov.uk/\" class=\"govuk-link\">GOV.UK</a>"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">MVP prototype</span>
      <h1 class="govuk-heading-xl">Manage what you owe to DWP</h1>

      <h2 class="govuk-heading-m">No login required</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">Pay in full</a> </li>
        <li><a class="govuk-link" href="#">Help & signposting</a></li>
      </ul>

      <h2 class="govuk-heading-m">Login required</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">View Communications / Journals</a></li>
        <li><a class="govuk-link" href="#">Manage what you owe</a></li>
        <li><a class="govuk-link" href="#">Manage what you owe</a></li>
        <li><a class="govuk-link" href="#">Manage what you owe</a></li>
        <li><a class="govuk-link" href="#">Manage what you owe</a></li>
        <li><a class="govuk-link" href="#">Manage what you owe</a></li>
        <li><a class="govuk-link" href="#">Manage what you owe</a></li>
        <li><a class="govuk-link" href="#">Manage what you owe</a></li>
        <li><a class="govuk-link" href="#">Manage what you owe</a></li>
        <li><a class="govuk-link" href="#">Repayment plan</a></li>
      </ul>

      Portal Access -
              View Communications / Journals
              Basic ability for Debtor to communicate – web form / web email etc – ability for people to communicate during non-working hours and then for agents to reply during working hours as an example
              Manage  Account – Telephone Number / Address / Communication Preferences etc
View Debt or Debts – Consider the debts types being used in wave 1
Set Up Plan - ‘Basic, Non Negotiated’  – Anything under £50 would direct customer to Agent as example.
              View Payment Plans - Date / Payment Method / Payments Received / Payments Due etc
Make Payment (in full or no plan in place)
    </div>

      </div>
    </div>
  </div>
{% endblock %}
