{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the index page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
      text: "Prototype"
      },
      html: "This is a test site – if you’ve arrived at this page by mistake, go to <a href=\"https://www.gov.uk/\" class=\"govuk-link\">GOV.UK</a>"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">MVP prototype</span>
      <h1 class="govuk-heading-xl">Manage what you owe to DWP</h1>

      <h2 class="govuk-heading-m">No login required</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="/prototypes/mvp/views/start-pay-what-you-owe">Pay in full</a> </li>
        <li><a class="govuk-link" href="#">Help & signposting</a> (To do)</li>
      </ul>

      <h2 class="govuk-heading-m">Login required</h2>

      <!-- <p class="govuk-body"><a href="#">View prototype</a></p> -->

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="#">View communications/journals</a> (To do)</li>
        <li><a class="govuk-link" href="#">Basic ability for debtor to communicate – web form/web email etc</a> (To do)</li>
        <li><a class="govuk-link" href="/prototypes/mvp/views/your-details/your-details">Manage account</a></li>
        <li><a class="govuk-link" href="/prototypes/mvp/views/amounts-owed">View debt</a></li>
        <li><a class="govuk-link" href="/prototypes/mvp/views/repayment-plan/start">Create a repayment plan - ‘Basic, non negotiated’</a></li>
        <li><a class="govuk-link" href="/prototypes/mvp/views/view-repayment-plan">View repayment plan</a></li>
        <li><a class="govuk-link" href="/prototypes/mvp/views/make-a-repayment">Make a payment in full</a></li>
      </ul>

    </div>

      </div>
    </div>
  </div>
{% endblock %}
