{% extends "layout.html" %}

{% set navActive = "repayments" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Repayments
      </h1>

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#0">Make a payment</a></p>
      <p>Repay all or part of the amount you owe.</p>

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#0">Arrange a repayment plan</a></p>
      <p>Arrange to repay a regular, affordable amount.</p>

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="repayment-history">See your repayment history</a></p>
      <p>See what you&rsquo;ve already paid.</p>

    </div>
  </div>
{% endblock %}
