{% extends "layout.html" %} {% set navActive = "repayments" %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
        Repayments
      </h1>
        <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="/amounts-owed">Repay the total amount</a></p>
        <p>Repay the total amount in one go.</p>
        <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#0">Repay part of the amount</a></p>
        <p>Repay some of it now, and more later.</p>
        <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#0">Arrange a repayment plan</a></p>
        <p>Arrange to repay a regular, affordable amount.</p>
        <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="repayment-history">See your repayment history</a></p>
        <p>See what you&rsquo;ve already repaid.</p>
    </div>
</div>
{% endblock %}