{% extends "layout.html" %}

{% set navActive = "repayments" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Repayments
      </h1>

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#0">Pay off the total amount</a></p>
      <p>Pay off the total amount in one go.</p>

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#0">Pay off part of the amount</a></p>
      <p>Pay off some of it now, and pay off more later.</p>

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#0">Arrange a repayment plan</a></p>
      <p>Pay back an amount you can afford every month.</p>

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="repayment-history">See your repayment history</a></p>
      <p>See what you&rsquo;ve already paid.</p>

      <p class="govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-0"><a href="#0">Contact us</a></p>
      <p>Contact us if you do not understand what you owe or why, are worried about being able to afford repayments, or want to make a payment over the phone.</p>

    </div>
  </div>
{% endblock %}
