{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home",
        text: "Account home"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "account-home"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Repay the full amount of £760
      </h1>

      <p class="govuk-body">Before you start you'll need a debit or credit card.</p>

      {{ govukButton({
        text: 'Start',
        href: "https://products.payments.service.gov.uk/pay/c61f045d2fd14c2cb4e7421cea4a376a",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <!--  -->

      <h3 class="govuk-heading-m">Pay by bank transfer</h3>

      <p class="govuk-body">If you don’t want to pay online, you can use these details to repay the full amount by bank transfer:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Sort code: 40 34 18</li>
        <li>Account number: 51826107</li>
        <li>Use your National Insurance number as the payment reference.</li>
      </ul>

      <div class="hmcts-banner">

      <div class="hmcts-banner__message">

      <p class="govuk-body">You can find your National Insurance number on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.</p>

      </div>

      </div>

    </div>
  </div>
{% endblock %}
