{% extends "layout.html" %}
{% set navActive = "owed" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "account-home",
        text: "Account home"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "account-home"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Repay the full amount
      </h1>

      <p class="govuk-body">Before you start you'll need a credit or debit card.</p>

      {{ govukButton({
        text: 'Start',
        href: "https://products.payments.service.gov.uk/pay/c61f045d2fd14c2cb4e7421cea4a376a",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <!--  -->

      <h2 class="govuk-heading-m">Other ways to pay the full amount</h2>

      <h3 class="govuk-heading-m">Bank transfer</h3>

      <p class="govuk-body">Use these details to repay the full amount by the date shown on the letter we sent you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Sort code: 40 34 18</li>
        <li>Account number: 51826107</li>
        <li>Reference: QQ 12 34 56 A</li>
      </ul>

      <h3 class="govuk-heading-m">Telephone</h3>
      <p class="govuk-body">Call Debt Management to repay the full amount. Do this by the date shown on the letter we sent you.</p>
      <p class="govuk-body">Telephone: 0800 916 0614<br>
      Textphone: 0345 604 6697<br>
      Monday to Friday 8am to 7.30pm<br>
      Saturday 9am to 4pm</p>

    </div>
  </div>
{% endblock %}
