{% extends "layout.html" %}
{% set navActive = "owed" %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Amounts owed</h1>
        <p class="govuk-!-font-size-27 govuk-!-font-weight-bold">Still to repay: £26</p>

        {{ govukButton({
          text: 'Repay the full amount',
          href: 'pay-amount-owed',
          classes: ''
        }) }}

        {{ govukTable({
          firstCellIsHeader: false,
          head: [ { text: "Item" }, { text: "Date" }, { text: "What you owe" } ],
          rows: [ [ { html: "<a href='debt-details'>Universal Credit advance</a>" }, { text: "13th Oct 18" }, { text: "£26" } ] ]
        }) }}

    </div>
</div>

{% endblock %}
