{% extends "layout.html" %}
{% set navActive = "owed" %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Contact us</h1>

        <h2 class="govuk-heading-m">Repayments</h2>

        <p>To arrange a repayment plan or repay the total amount, contact:</p>

        <p>DWP Debt Management.<br />
        Telephone: 0800 916 0614<br />
        Monday to Friday 8am to 7.30pm<br />
        Saturday 9am to 4pm </p>

        <p>You can also <a href="repay-total-amount">repay the total amount online.</a></p>

        <h2 class="govuk-heading-m">Information</h2>

        <p>If you have any questions about how much you owe and why, contact:</p>

        <p>Universal Credit<br />
        Telephone: 0800 328 5644<br />
        Textphone: 0800 328 1344<br />
        Monday to Friday 8am to 6pm (closed on bank holidays)</p>

    </div>
</div>

{% endblock %}
