{% extends "layout.html" %}

{% block header %}
  <!-- Blank header with no service name for the sign in page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action='account-home' method='post' class='form' autocomplete='off'>
        <h1 class="govuk-heading-xl">Repay the total amount</h1>
        <h2 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-4">£90</h2>
        <p>You’ll need a debit or credit card.</p>

        {{ govukButton({ text: "Pay online", href: "https://products.payments.service.gov.uk/pay/4af4b1bf188f4f829358eafaeaf6d88a", classes: "govuk-!-margin-bottom-8" }) }}
      </form>

      <h2 class="govuk-heading-m">Other ways to repay the total amount</h2>

      <h3 class="govuk-heading-s">Make a bank transfer</h3>

      <p>Telephone your bank or sign into your bank account. Use these details:</p>

      <p>Sort code: 40 34 18<br />
        Account number: 51826107<br />
        Reference: QQ 12 34 56 C</p>

      <h3 class="govuk-heading-s">Telephone us</h3>

      <p>You’ll need your debit card or credit card and your National Insurance number, QQ 12 34 56 C.</p>

      <p>Telephone: 0800 916 0647<br />
        Monday to Friday 8am to 7.30pm<br />
        Saturday 9am to 4pm</p>

    </div>
  </div>
{% endblock %}
