{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "",
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "change-email"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Confirm your email address</h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['email-personal-details']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "#"
                }
              ]
            }
          }
        ]
        }) }}

      <p class="govuk-body">You will need to verify your email when it has been confirmed.</p>

      <p class="govuk-body">Information about whether this is an instant change or whether its a submission.</p>

      {{ govukButton({
        text: "Confirm change",
        href:"change-email-confirmed"
      }) }}

    </div>
  </div>

{% endblock %}
