{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "../account-home-plan",
        text: "Account home"
      },
      {
        href: "your-details",
        text: "Your details"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "change-letter-preference"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">Confirm your letter preference</h1>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Letter format"
            },
            value: {
              text: data['letter-preference']
            },
            actions: {
              items: [
                {
                  href: "change-letter-preference",
                  text: "Change",
                  visuallyHiddenText: "Letter preference"
                }
              ]
            }
          }
              ]
      }) }}

      {{ govukButton({
        text: "Confirm change",
        href:"change-letter-preference-confirmed"
      }) }}

    </div>
  </div>

{% endblock %}
