{% extends "layout.html" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Manage the money you owe to DWP",
    serviceUrl: "#",
    navigation: [
      {
        href: "../account-home-plan",
        text: "Account home"
      },
      {
        href: "your-details",
        text: "Your details"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "your-details"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    What is your new address?
  </h1>

  {{ addressLookup({
    href:"change-address-confirmed",
    buttonLabel:"Confirm address"
  }) }}

{% endblock %}
